nav.closed {
  width: 0; // start hidden
}

nav {
  position: absolute;
  background-color: $grey-100;
  white-space: nowrap;
  height: 100%;
  width: 60%;
  overflow: hidden;
  z-index: 110; // Over everything
  transition: 400ms ease-in-out;
  @include shadow(0, 8, 6);

  $padding: 1rem;

  button[name="close"] {
    @extend %form;
    padding: $padding;
    width: 100%;

    display: flex;
    align-items: center;
    font-size: 1rem;
    color: white;
    background-color: $primary-500;
    text-transform: uppercase;

    img {
      margin-right: 0.5rem;
    }
  }

  div {
    margin: $padding;

    li {
      list-style: none;
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      img {
        margin-right: 0.5rem;
      }

      a {
        font-size: 1rem;
        color: $grey-800;
        text-decoration: none;
      }
    }
  }
}
