@import url('https://fonts.googleapis.com/css?family=Roboto');

// General
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); // No color highlight on mobile
}

:root {
  font-size: 18px; // Rem is based on this
  height: 100%;
  width: 100%;
}

html {
  font-size: 100%;
  width: 100%;
  height: 100%;
}

// Common elements
body {
  width: 100%;
  height: auto;
  min-height: -webkit-fill-available;
  font-size: 1rem;
  font-family: 'roboto', sans-serif;
  background-color: $grey-200;
  color: $grey-700;
  position: relative; // Main level for absolute to be positioned against
}

br {
  line-height: 1rem;
}

hr {
  border-top: 1px solid $grey-400;
  margin: 1rem 5%; // Two lines heigh, x% of screen wide
}

main.page {
  opacity: 0;
}


// Shared elements
header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  background-color: $grey-100;
  z-index: 100;
  position: relative; // Apply z-index
  @include shadow(12, 8);

  button[name="menu"] {
    @extend %form;
    width: 2.35rem;
    min-width: 2rem;

    img {
      height: 100%;
      width: 100%;
    }
  }

  h2 {
    margin-left: 1.5rem;
    text-transform: uppercase;
    font-size: 1.35rem;
    font-weight: normal;
  }
}
