
// General
$time: 400ms;
$animation: $time ease-in-out;

$primary-50: #e8f5e9;
$primary-100: #c8e6c9;
$primary-200: #a5d6a7;
$primary-300: #81c784;
$primary-400: #66bb6a;
$primary-500: #4caf50;
$primary-600: #43a047;
$primary-700: #388e3c;
$primary-800: #2e7d32;
$primary-900: #1b5e20;
$primary-A100: #b9f6ca;
$primary-A200: #69f0ae;
$primary-A400: #00e676;
$primary-A700: #00c853;
$secondary-A100: #84ffff;
$secondary-A200: #18ffff;
$secondary-A400: #00e5ff;
$secondary-A700: #00b8d4;
$grey-50: #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

@mixin shadow($h, $blur, $w: 0) {
  // Edited from values at https://codepen.io/sdthornton/pen/wBZdXq
  box-shadow: #{$w}px #{$h}px #{$blur}px rgba(0, 0, 0, 0.1),
  #{$w / 1.5}px #{ceil($h / 1.5)}px #{ceil($blur / 1.5)}px rgba(0, 0, 0, 0.2);
}

@mixin image-card($text-size) {
  @extend %card;

  a {
    width: 100%;
    height: 100%;
    text-decoration: none;

    img {
      display: block;
      width: 100%;
      height: calc(100% - #{$text-size * 3}); // Room for name and margins
      object-fit: cover; // Will keep aspect ratio

    }

    div {
      margin: $text-size / 2;
      height: $text-size * 2; // Two lines
      overflow: hidden; // Won't overflow card
      display: flex;
      align-items: center; // Vertical middle

      h3 {
        line-height: $text-size;
        font-size: $text-size;
        color: $grey-700;

      }
    }
  }
}

%click {
  cursor: pointer; // Can be clicked

  &:disabled {
    cursor: default; // Can't be clicked
  }

  &:focus,
  &:active {
    outline: none;
  }
}

%form {
  @extend %click;
  background-color: transparent; // Hides default background
  border: 0 solid transparent; // Hides border
}

%card {
  @include shadow(4, 8);
  position: relative;
  background-color: #ffffff;
  border-radius: 0.25rem;
  overflow: hidden; // Maintain rounded corners
}

%tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-A700;
  color: white;
  font-size: 0.8rem;
  margin-left: auto;
  font-weight: bold;
}
