.detail-page {
  padding: 2rem; }
  .detail-page * {
    color: black !important; }
  .detail-page #img {
    display: none; }
  .detail-page hr {
    display: none; }
  .detail-page h4 {
    text-align: left; }
  .detail-page .score progress::before {
    left: 2rem; }
  .detail-page .card {
    box-shadow: none;
    background-color: transparent;
    margin: 1rem 0;
    padding: 0; }
    .detail-page .card .imgs {
      display: block;
      max-height: none; }
      .detail-page .card .imgs img {
        width: 100%; }

hr {
  page-break-after: always; }
