// imports
@import "variables";
@import "shared";
@import "menu";


#overview-page {
  display: flex;

  .card {
    margin: 10px; // TEMP

    img {
      height: 100px; // TEMP

    }
  }
}

#detail-page {
  img {
    width: 500px; // TEMP
  }
}
