@import url("https://fonts.googleapis.com/css?family=Roboto");
header button[name="menu"], nav button[name="close"], #history div button[name='more'] {
  cursor: pointer; }
  header button:disabled[name="menu"], nav button:disabled[name="close"], #history div button:disabled[name='more'] {
    cursor: default; }
  header button:focus[name="menu"], nav button:focus[name="close"], #history div button:focus[name='more'], header button:active[name="menu"], nav button:active[name="close"], #history div button:active[name='more'] {
    outline: none; }

header button[name="menu"], nav button[name="close"], #history div button[name='more'] {
  background-color: transparent;
  border: 0 solid transparent;
  transition: 400ms ease-in-out; }

#history div #overview-page .card {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  background-color: #ffffff;
  border-radius: 0.25rem;
  overflow: hidden; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

:root {
  font-size: 18px;
  height: 100%;
  width: 100%; }

html {
  font-size: 100%; }

body {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-family: 'roboto', sans-serif;
  background-color: #EEEEEE;
  color: #616161;
  position: relative; }

br {
  line-height: 1rem; }

hr {
  border-top: 1px solid #BDBDBD;
  margin: 1rem 5%; }

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  background-color: #F5F5F5;
  z-index: 100;
  position: relative;
  box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.1), 0px 8px 6px rgba(0, 0, 0, 0.2); }
  header button[name="menu"] {
    width: 2.35rem; }
    header button[name="menu"] img {
      height: 100%;
      width: 100%; }
  header h2 {
    margin-left: 1.5rem;
    text-transform: uppercase;
    font-size: 1.35rem;
    font-weight: normal; }
  header .tag {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00b8d4;
    color: white;
    font-size: 0.8rem;
    margin-left: auto;
    font-weight: bold; }

nav {
  display: none;
  position: absolute;
  background-color: #F5F5F5;
  height: 100%;
  z-index: 110;
  box-shadow: 6px 0px 8px rgba(0, 0, 0, 0.1), 4px 0px 6px rgba(0, 0, 0, 0.2); }
  nav button[name="close"] {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: white;
    background-color: #4caf50;
    text-transform: uppercase; }
    nav button[name="close"] img {
      margin-right: 0.5rem; }
  nav div {
    margin: 1rem; }
    nav div li {
      list-style: none;
      display: flex;
      align-items: center;
      margin-bottom: 1rem; }
      nav div li img {
        margin-right: 0.5rem; }
      nav div li a {
        font-size: 1rem;
        color: #424242;
        text-decoration: none; }

header .tag {
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem; }

#image {
  z-index: 90;
  position: relative;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.2);
  height: 35vh; }
  #image img {
    object-fit: cover;
    height: 100%;
    width: 100%; }

#navigator {
  z-index: 80;
  position: relative;
  height: 35vh;
  display: flex;
  justify-content: center; }
  #navigator svg {
    height: 100%;
    width: 35vh;
    border-radius: 50%;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.2); }
    #navigator svg #compass {
      r: 15.75vh;
      fill: #43a047 !important;
      stroke: #2e7d32 !important;
      stroke-width: 3.5vh; }
    #navigator svg #arrow {
      stroke: #424242;
      stroke-width: 2;
      transform-origin: 50% 50%; }
    #navigator svg #arrowhead {
      fill: #424242; }
    #navigator svg .marking {
      stroke-width: 2;
      stroke: #388e3c; }

#history h4 {
  text-align: center; }

#history div {
  display: flex;
  justify-content: left;
  align-content: center; }
  #history div #overview-page {
    display: flex;
    flex-wrap: wrap;
    width: 75vw;
    margin: 0 5vw 5vw 5vw; }
    #history div #overview-page .card {
      width: 20vw;
      height: 25vw;
      margin: 2.5vw; }
      #history div #overview-page .card a {
        width: 100%;
        height: 100%;
        text-decoration: none; }
        #history div #overview-page .card a img {
          display: block;
          width: 100%;
          height: calc(100% - 2.31rem);
          object-fit: cover; }
        #history div #overview-page .card a div {
          margin: 0.385rem;
          height: 1.54rem;
          overflow: hidden;
          display: flex;
          align-items: center; }
          #history div #overview-page .card a div h3 {
            line-height: 0.77rem;
            font-size: 0.77rem;
            color: #616161; }
  #history div button[name='more'] {
    width: 10vw;
    height: 10vw;
    margin: 10vw 5vw 10vw 0;
    background-color: #00b8d4;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.2); }
    #history div button[name='more'] a {
      width: 100%;
      width: 100%; }

#overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  padding: 2rem;
  z-index: 120; }
  #overlay > div {
    background-color: white;
    height: 100%;
    position: relative;
    padding: 2rem; }
    #overlay > div h3 {
      font-size: 1.5rem; }
    #overlay > div div {
      background-color: white;
      height: 100%;
      position: absolute;
      top: 4rem;
      left: 2rem; }
