// imports
@import "variables";
@import "shared";
@import "menu";

header {
  .tag {
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    @extend %tag;
  }
}

#image {
  z-index: 90;
  position: relative; // Apply z-index
  @include shadow(4, 8);
  height: 35vh; // x% of screen height
  animation: from-top 500ms ease-out;
  will-change: transform;

  img {
    object-fit: cover; // Will keep aspect ratio
    height: 100%;
    width: 100%;
  }
}

#navigator {
  z-index: 80;
  position: relative; // Apply z-index
  $nav-height: 35vh; // x% of screen height
  height: $nav-height;
  display: flex; // Center content
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;

  h4 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
  }

  .tag {
    @extend %tag;
    background-color: $primary-500;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    font-size: 2.5rem;
    margin-left: 0;
    overflow: hidden;
    animation: rotate 800ms ease-out;
  }

  p {
    font-style: italic;

    a {
      color: $secondary-A700;
      text-decoration: none;
    }
  }

  svg {
    height: 100%;
    width: $nav-height;
    border-radius: 50%; // Make shadow round
    @include shadow(8, 8);
    animation: from-bottom 500ms ease-out;

    #compass {
      // r: ($nav-height / 2) * 0.9; // x% of container
      fill: $primary-500 !important;
      stroke: $primary-600 !important;
      stroke-width: ($nav-height * 0.05); // x% of container
    }

    #arrow {
      stroke: $grey-800;
      stroke-width: 2;
      transform-origin: 50% 50%;
      transition: 100ms;
    }

    #arrowhead {
      fill: $grey-800;
    }

    .marking {
      stroke-width: 2;
      stroke: $primary-600;
    }

    .heading {
      display: none;
      fill: $primary-300;
      font-weight: bold;
    }
  }
}

#history {
  display: none; // Visible via js when points reached

  h4 {
    text-align: center;
    text-transform: uppercase;
  }

  div {
    display: flex; // Button and cards next eachother
    justify-content: left;
    align-content: center;

    #overview-page {
      display: flex; // Cards next eachother
      flex-wrap: wrap;
      width: 75vw;
      margin: 0 (5vw) (5vw) (5vw);

      .card {
        width: 20vw;
        height: 25vw;
        margin: (5vw / 2);

        @include image-card(0.77rem);
      }
    }

    button[name='more'] {
      @extend %form;
      width: 10vw;
      height: 10vw; // 1:1
      margin: (10vw) (10vw / 2) (10vw) 0;

      background-color: $secondary-A700;
      border-radius: 50%;
      @include shadow(4, 8);

      a {
        width: 100%;
        width: 100%;
      }
    }
  }
}

#overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  padding: 2rem;
  z-index: 120;

  $font-size: 1.5rem;

  & > div { // Direct child
    background-color: white;
    height: 100%;
    position: relative; // Absolute elements relative to this
    $margin: $font-size;
    padding: $margin;

    h2 {
      font-size: $font-size;
    }

    h3 {
      font-size: $font-size * 0.75;
      font-weight: normal;
    }

    div {
      background-color: white;
      left: $margin;
      margin-top: $margin / 2;

      select, input[type=file] {
        @extend %form;
        background-color: $grey-300;
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin-top: 0.5rem;
      }

      select {
      }

      input[type=file] {

      }
    }
  }
}

button[name=skip] {
  @extend %form;
  background-color: $secondary-A700;
  border-radius: 50%;
  @include shadow(4, 8);
  position: fixed;
  width: 15vw;
  height: 15vw; // 1:1
  margin: (15vw / 2);
  left: 0;
  bottom: 0;
  display: none;
}
