// imports
@import "variables";
@import "shared";
@import "menu";

#image {
  z-index: 90;
  position: relative; // Apply z-index
  @include shadow(4, 8);
  height: 35vh; // x% of screen height


  img {
    object-fit: cover; // Will keep aspect ratio
    height: 100%;
    width: 100%;
  }
}

#navigator {
  z-index: 80;
  position: relative; // Apply z-index
  $nav-height: 35vh; // x% of screen height
  height: $nav-height;
  display: flex; // Center content
  justify-content: center;

  svg {
    height: 100%;
    width: $nav-height;
    border-radius: 50%; // Make shadow round
    @include shadow(8, 8);

    #compass {
      r: ($nav-height / 2) * 0.9; // x% of container
      fill: $primary-600 !important;
      stroke: $primary-800 !important;
      stroke-width: ($nav-height * 0.1); // x% of container
    }

    #arrow {
      stroke: $grey-800;
      stroke-width: 2;
      transform-origin: 50% 50%;
      // transition: 500ms;
    }

    #arrowhead {
      fill: $grey-800;
    }

    .marking {
      stroke-width: 2;
      stroke: $primary-700;
    }
  }
}
