@import url("https://fonts.googleapis.com/css?family=Roboto");
header button[name="menu"], nav button[name="close"], #history div button[name='more'], #overlay > div div select, #overlay > div div input[type=file], button[name=skip] {
  cursor: pointer; }
  header button:disabled[name="menu"], nav button:disabled[name="close"], #history div button:disabled[name='more'], #overlay > div div select:disabled, #overlay > div div input:disabled[type=file], button:disabled[name=skip] {
    cursor: default; }
  header button:focus[name="menu"], nav button:focus[name="close"], #history div button:focus[name='more'], #overlay > div div select:focus, #overlay > div div input:focus[type=file], button:focus[name=skip], header button:active[name="menu"], nav button:active[name="close"], #history div button:active[name='more'], #overlay > div div select:active, #overlay > div div input:active[type=file], button:active[name=skip] {
    outline: none; }

header button[name="menu"], nav button[name="close"], #history div button[name='more'], #overlay > div div select, #overlay > div div input[type=file], button[name=skip] {
  background-color: transparent;
  border: 0 solid transparent; }
  header button:disabled[name="menu"], nav button:disabled[name="close"], #history div button:disabled[name='more'], #overlay > div div select:disabled, #overlay > div div input:disabled[type=file], button:disabled[name=skip] {
    background-color: #BDBDBD;
    border-color: #757575; }

#history div #overview-page .card {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  background-color: #ffffff;
  border-radius: 0.25rem;
  overflow: hidden;
  animation: from-bottom 500ms ease-out;
  will-change: transform; }

@keyframes from-bottom {
  from {
    transform: translateY(100vh); }
  to {
    transform: translateY(0); } }

@keyframes from-top {
  from {
    transform: translateY(-100vh); }
  to {
    transform: translateY(0); } }

@keyframes rotate {
  from {
    transform: rotate(360deg) scale(0); }
  to {
    transform: rotate(0deg) scale(1); } }

header .tag, #navigator .tag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00b8d4;
  color: white;
  font-size: 0.8rem;
  margin-left: auto;
  font-weight: bold; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

:root {
  font-size: 18px;
  min-height: 100%;
  max-width: 100vw; }

html {
  font-size: 100%; }

body {
  height: inherit;
  width: inherit;
  font-size: 1rem;
  font-family: 'roboto', sans-serif;
  background-color: #EEEEEE;
  color: #616161;
  position: relative; }

br {
  line-height: 1rem; }

hr {
  border-top: 1px solid #BDBDBD;
  margin: 1rem 5%; }

main.page {
  opacity: 0; }

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  height: 10vh;
  background-color: #F5F5F5;
  z-index: 100;
  position: relative;
  box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.1), 0px 8px 6px rgba(0, 0, 0, 0.2); }
  header button[name="menu"] {
    width: 2.35rem;
    min-width: 2rem; }
    header button[name="menu"] img {
      height: 100%;
      width: 100%; }
  header h2 {
    margin-left: 1.5rem;
    text-transform: uppercase;
    font-size: 1.35rem;
    font-weight: normal; }

nav.closed {
  width: 0; }

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #F5F5F5;
  white-space: nowrap;
  min-height: 100vh;
  width: 65%;
  overflow: hidden;
  z-index: 110;
  transition: 400ms ease-in-out;
  box-shadow: 20px 0px 20px rgba(0, 0, 0, 0.1), 13.33333px 0px 14px rgba(0, 0, 0, 0.2); }
  nav button[name="close"] {
    padding: 1rem;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: white;
    background-color: #4caf50;
    text-transform: uppercase; }
    nav button[name="close"] .button {
      margin-right: 0.5rem; }
    nav button[name="close"] .logo {
      width: 1.5rem;
      margin-left: 0.5rem; }
  nav div {
    margin: 1rem; }
    nav div li {
      list-style: none;
      display: flex;
      align-items: center;
      margin-bottom: 1rem; }
      nav div li img {
        margin: 0 0.5rem; }
      nav div li a {
        display: flex;
        font-size: 1rem;
        color: #424242;
        text-decoration: none; }
    nav div p {
      font-size: 0.75rem;
      color: #616161;
      position: absolute;
      bottom: 1rem; }

header .tag {
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem; }

#image {
  z-index: 90;
  position: relative;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.2);
  height: 35vh;
  animation: from-top 500ms ease-out;
  will-change: transform; }
  #image img {
    object-fit: cover;
    height: 100%;
    width: 100%; }

#navigator {
  z-index: 80;
  position: relative;
  height: 35vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column; }
  #navigator h4 {
    width: 100%;
    text-align: center;
    text-transform: uppercase; }
  #navigator .tag {
    background-color: #4caf50;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    font-size: 2.5rem;
    margin-left: 0;
    overflow: hidden;
    animation: rotate 800ms ease-out; }
  #navigator p {
    font-style: italic; }
    #navigator p a {
      color: #00b8d4;
      text-decoration: none; }
  #navigator svg {
    height: 100%;
    width: 35vh;
    border-radius: 50%;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.2);
    animation: from-bottom 500ms ease-out; }
    #navigator svg #compass {
      fill: #4caf50 !important;
      stroke: #43a047 !important;
      stroke-width: 1.75vh; }
    #navigator svg #arrow {
      stroke: #424242;
      stroke-width: 2;
      transform-origin: 50% 50%;
      transition: 100ms; }
    #navigator svg #arrowhead {
      fill: #424242; }
    #navigator svg .marking {
      stroke-width: 2;
      stroke: #43a047; }
    #navigator svg .heading {
      display: none;
      fill: #81c784;
      font-weight: bold; }
    #navigator svg .direction {
      display: none;
      fill: #81c784; }

#history {
  display: none; }
  #history h4 {
    text-align: center;
    text-transform: uppercase; }
  #history div {
    display: flex;
    justify-content: left;
    align-content: center; }
    #history div #overview-page {
      display: flex;
      flex-wrap: wrap;
      width: 75vw;
      margin: 0 5vw 5vw 5vw; }
      #history div #overview-page .card {
        width: 20vw;
        height: 25vw;
        margin: 2.5vw; }
        #history div #overview-page .card a {
          width: 100%;
          height: 100%;
          text-decoration: none; }
          #history div #overview-page .card a img {
            display: block;
            width: 100%;
            height: calc(100% - 2.31rem);
            object-fit: cover; }
          #history div #overview-page .card a div {
            margin: 0.385rem;
            height: 1.54rem;
            overflow: hidden;
            display: flex;
            align-items: center; }
            #history div #overview-page .card a div h3 {
              line-height: 0.77rem;
              font-size: 0.77rem;
              color: #616161;
              font-weight: normal; }
    #history div button[name='more'] {
      width: 10vw;
      height: 10vw;
      margin: 10vw 5vw 10vw 0;
      background-color: #00b8d4;
      border-radius: 50%;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.2); }
      #history div button[name='more'] a {
        width: 100%;
        width: 100%; }

#overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  padding: 2rem;
  z-index: 120; }
  #overlay > div {
    background-color: white;
    height: 100%;
    position: relative;
    padding: 1.5rem; }
    #overlay > div h2 {
      font-size: 1.5rem; }
    #overlay > div h3 {
      font-size: 1.125rem;
      font-weight: normal; }
    #overlay > div div {
      background-color: white;
      left: 1.5rem;
      margin-top: 0.75rem; }
      #overlay > div div select, #overlay > div div input[type=file] {
        background-color: #E0E0E0;
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin-top: 0.5rem; }

button[name=skip] {
  background-color: #00b8d4;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 15vw;
  height: 15vw;
  margin: 7.5vw;
  left: 0;
  bottom: 0;
  display: none; }
