@import url("https://fonts.googleapis.com/css?family=Roboto");
header button[name="menu"], nav button[name="close"], #cards .card button {
  cursor: pointer; }
  header button:disabled[name="menu"], nav button:disabled[name="close"], #cards .card button:disabled {
    cursor: default; }
  header button:focus[name="menu"], nav button:focus[name="close"], #cards .card button:focus, header button:active[name="menu"], nav button:active[name="close"], #cards .card button:active {
    outline: none; }

header button[name="menu"], nav button[name="close"], #cards .card button {
  background-color: transparent;
  border: 0 solid transparent; }
  header button:disabled[name="menu"], nav button:disabled[name="close"], #cards .card button:disabled {
    background-color: #BDBDBD;
    border-color: #757575; }

#cards .card {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  background-color: #ffffff;
  border-radius: 0.25rem;
  overflow: hidden; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

:root {
  font-size: 18px;
  height: auto;
  width: 100%; }

html {
  font-size: 100%;
  width: 100%;
  height: auto; }

body {
  width: 100%;
  height: -webkit-fill-available;
  font-size: 1rem;
  font-family: 'roboto', sans-serif;
  background-color: #EEEEEE;
  color: #616161;
  position: relative; }

br {
  line-height: 1rem; }

hr {
  border-top: 1px solid #BDBDBD;
  margin: 1rem 5%; }

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  background-color: #F5F5F5;
  z-index: 100;
  position: relative;
  box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.1), 0px 8px 6px rgba(0, 0, 0, 0.2); }
  header button[name="menu"] {
    width: 2.35rem; }
    header button[name="menu"] img {
      height: 100%;
      width: 100%; }
  header h2 {
    margin-left: 1.5rem;
    text-transform: uppercase;
    font-size: 1.35rem;
    font-weight: normal; }

nav {
  display: none;
  position: absolute;
  background-color: #F5F5F5;
  height: 100%;
  z-index: 110;
  box-shadow: 6px 0px 8px rgba(0, 0, 0, 0.1), 4px 0px 6px rgba(0, 0, 0, 0.2); }
  nav button[name="close"] {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: white;
    background-color: #4caf50;
    text-transform: uppercase; }
    nav button[name="close"] img {
      margin-right: 0.5rem; }
  nav div {
    margin: 1rem; }
    nav div li {
      list-style: none;
      display: flex;
      align-items: center;
      margin-bottom: 1rem; }
      nav div li img {
        margin-right: 0.5rem; }
      nav div li a {
        font-size: 1rem;
        color: #424242;
        text-decoration: none; }

#cards {
  padding: 5vw; }
  #cards .card {
    padding: 2.5vw; }
    #cards .card h3 {
      font-size: 1.2rem;
      color: #424242;
      margin-bottom: 0.5rem; }
    #cards .card p {
      font-size: 0.8rem;
      color: #424242; }
    #cards .card button {
      background-color: #4caf50;
      color: white;
      border-radius: 0.5rem;
      padding: 0.25rem 0.5rem;
      text-transform: uppercase;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-top: 0.75rem; }
      #cards .card button img {
        margin-right: 0.5rem; }
