@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slideUp {
  from {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes slideDown {
  from {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.page .title {
  font-family: 'roboto-mono', monospace;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center; }

.page #scan a .preview {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block; }

.page .content {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 2px 3px rgba(0, 0, 0, 0.2);
  background-color: #FAFAFA;
  animation: slideUp 400ms ease-in-out;
  transition: 400ms ease-in-out; }
  .page .content:hover {
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.1), 0px 10px 19px rgba(0, 0, 0, 0.2); }

.page .content {
  margin-bottom: 5vw; }

.page .title {
  color: #616161;
  margin-bottom: 1rem;
  margin-top: 0.5rem; }

.page #scan .content {
  background-color: #D32F2F;
  animation: slideDown 400ms ease-in-out; }

.page #scan a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%; }
  .page #scan a .over {
    position: absolute;
    top: 0;
    height: 20%;
    width: 20%;
    border-radius: 100%;
    background-color: #C62828;
    margin: 5%;
    padding: 5%; }
    .page #scan a .over:first-of-type {
      left: 0; }
    .page #scan a .over:last-of-type {
      right: 0; }
    .page #scan a .over img {
      width: 100%;
      height: 100%; }
