// Every page has its own css file for speed purposes
// Shares values are in seperate files

// imports
@import "partials/variables";
@import "partials/mixins";
@import "partials/classes";
@import "partials/global";
@import "partials/menu";

.page {
  padding-top: $menu-height; // Menu doesn't cover content
  padding: $padding-standard * 2;

  .content {
    @extend %card;
    margin: $margin-standard 0;
  }

  #scan {

  }

  #results {

  }
}
