// Every page has its own css file for speed purposes
// Shares values are in seperate files

// imports
@import "partials/variables";
@import "partials/mixins";
@import "partials/classes";
// @import "partials/global"; // Imported in results
// @import "partials/menu";

.page {
  main {
    padding: $margin-standard / 2;
    display: none;
  }

  .content {
    @extend %card;
    margin-bottom: $margin-standard;
  }

  .title {
    @extend %label;
    color: $grey-700;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }

  #scan {
    .content {
      background-color: $primary-700;
      animation: slideDown $animation; // Different from the others
    }

    a {
      display: block;
      position: relative; // For absolute children
      width: 100%;
      height: 100%;

      .preview {
        @extend %fill;
      }

      .over {
        position: absolute;
        top: 0;
        height: 20%;
        width: 20%;
        border-radius: 100%;
        background-color: $primary-800;
        margin: 5%;
        padding: 5%;

        &:first-of-type {
          left: 0;
        }
        &:last-of-type {
          right: 0;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  #results {

  }
}
