// imports
@import "partials/variables";
@import "partials/mixins";
@import "partials/classes";
@import "partials/global";

// TODO style pages

#menu {
  position: fixed;
  top: 0;

  &[data-state=collapsed] {
    .container {
      left: -100%;
    }
  }
  &[data-state=extended] {
    .container {
      left: 0;
    }
  }

  .container {
    position: absolute;
  }
}
