// imports
@import "partials/variables";
@import "partials/mixins";
@import "partials/classes";
@import "partials/global";
@import "partials/menu";

#result {
  display: none;
  background-color: $grey-200;
  position: absolute; // Z-index applies
  top: 0;
  left: 0;
  z-index: 110; // Above menu

  button[name=back] {
    @extend %button-round;
    background-color: $grey-100;
    height: 10vw;
    width: 10vw;
    position: fixed;
    z-index: 115; // Above result card
    top: 0;
    left: 0;
    margin: $margin-standard;
  }
}


#overview {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: $margin-standard / 2;
  display: none;
  margin-top: $menu-height;
}

#overview { // Applies to two pages
  .box {
    display: flex; // All cards visible
    flex-direction: row;
    flex-wrap: wrap;

    .thumbnail {
      margin: $margin-standard / 2; // Space
      @extend %card;

      $perrow: 2;
      $width: (100vw - ($perrow * $margin-standard) - $margin-standard) / $perrow;
      width: $width;

      .container {
        width: 100%;
        height: $width; // 1:1

        a {
          display: block;
          width: 100%;
          height: 100%;
          position: relative; // Z-index
          z-index: 80; // Below menu
          overflow: hidden;

          img {
            @extend %fill;
          }
        }
      }

      .text {
        padding: $padding-standard;

        p {
          &:first-child {

          }
          &:last-child {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}
