// imports
@import "partials/variables";
@import "partials/mixins";
@import "partials/classes";
@import "partials/global";
@import "partials/menu";

.page {
  margin-top: $menu-height;
}

#overview {
  padding: $margin-standard / 2;
}

#results {
  
}

#overview, // Applies to two pages
#results {
  .box {
    display: flex; // All cards visible
    flex-direction: row;
    flex-wrap: wrap;

    .thumbnail {
      margin: $margin-standard / 2; // Space
      @extend %card;

      $perrow: 2;
      $width: (100vw - ($perrow * $margin-standard) - $margin-standard) / $perrow;
      width: $width;

      .container {
        width: 100%;
        height: $width; // 1:1

        a {
          display: block;
          width: 100%;
          height: 100%;
          position: relative; // Z-index
          z-index: 80; // Below menu
          overflow: hidden;

          img {
            @extend %fill;
          }
        }
      }

      .text {
        padding: $padding-standard;

        p {
          &:first-child {

          }
          &:last-child {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}

#result {
  display: none;
}
