// imports
@import "partials/variables";
@import "partials/mixins";
@import "partials/classes";
// @import "partials/global";

#data {
  @extend %card;

  display: flex; // Dynamic sizes for the children
  flex-direction: column;
  justify-content: flex-start; // Above
  height: 100%;
  width: 100%;
  overflow-y: scroll;

  .container {
    height: 40vh; // Needs to be fixed
    width: 100%;

    .banner {
      @extend %fill;
    }
  }

  .text {
    width: 100%;
    overflow-y: scroll;
    padding: $padding-standard;

    .head {
      @extend %center-flex;
      justify-content: space-between; // Different than extended class

      .headers {
        display: inline-block;

        h3 {
          font-size: 1.6rem;
        }

        h5 {
          font-size:  1.2rem;

          b {
            font-weight: normal; // Overwrite possible <b>
          }
        }
      }

      .accuracy {
        color: #fff;
        padding: $padding-standard;
        text-transform: uppercase;
        background-color: $primary-700;
        float: right; // It works ¯\_(ツ)_/¯
        font-size: 0.75rem;
      }

    }

    .body {
      // Just use default text style
    }

    .meta {
      .item {
        display: flex;// I game up on elegant solutions to line up text with an image
        align-items: center;
        height: 1.5rem;

        img {
          height: 1.5rem;
          margin-right: 0.75rem;
          display: inline-block;
        }

        span {
          a {
            color: inherit;
          }
        }
      }
    }

    .links {
      ul {
        a {
          color: $secondary-A400;

          &:visited {
            color: $secondary-A700;
          }
        }
      }
    }
  }
}
