* {
  margin: 0;
  padding: 0;
}

body,
:root {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  // Center all
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

#status,
#target {
  line-height: 5vmin;
  font-size: 4vmin;
  padding: 0.5vmin;
  text-align: center;
}

#data {
  // Center compass
  display: flex;
  justify-content: center;
  align-items: center;

  #distance {

  }

  svg {
    width: 80vmin;
    height: 80vmin;
    margin: 2.5vmin;

    #compass {
      fill: grey;
    }

    #dir {
      stroke: rgb(255,0,0);
      stroke-width: 2;
      transform-origin: 50% 50%; // Rotate around this point
      transition: 500ms;
    }
  }
}
