<div class="top">
  <nav>
    <a class="logo" href="">
      <img src="assets/images/other/logo.svg" alt="My personal logo">
    </a>
    <ul>
      <li ripple><a rel="noreferrer" href="#about">About</a></li>
      <li ripple><a rel="noreferrer" href="#experience">Experience</a></li>
      <li ripple><a rel="noreferrer" href="#skills">Skills</a></li>
      <li ripple><a rel="noreferrer" href="#portfolio">Portfolio</a></li>
      <li><a rel="noreferrer" href="#contact"><i class="material-icons md-light">person</i></a></li>
    </ul>
  </nav>
  <header></header>
</div>
