/* -- General -- */
* {  /* Standard properties for document */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Fixes box sizing problem */
  font-family: 'Noto Sans', sans-serif;
  font-size: 1rem;
}

.overlay {
	overflow: hidden;
	background-color: rgba(0,0,0,0.7);
	display: none;
	z-index: 500;
	position: fixed;
	width: 100vw;
	height: 100vh;
}

.disable-selection {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

::-webkit-scrollbar {
	display: none;
}

body {
    background-color: #EEEEEE;
    color: #212121;
    min-width: 500px;
	height: 100vh;
    display: none;
	overflow-y: scroll;
}

hr {
    border: none;
    border-top: 1px solid #bdbdbd;
}

.boxV {
    border: 1px dotted grey;
}

:focus, :active { outline: none; }

a { text-decoration: none; }

iframe { border: none; }


/* Header */
header {
	/*overflow: hidden;*/
	z-index: 100;
	position: relative;
	box-shadow: 0px 6px 8px rgba(0,0,0,0.2);
	height: 5rem;
}

header h1 {
	color: #ffffff;
	font-size: 1.5rem;
	font-weight: 700;
}

.headtext {
	display: inline-block;
	padding: 1.35rem;
	float: left;
    position: relative;
    z-index: 120;
}


/* Navbar */
nav {
	position: absolute;
	display: inline-block;
	text-align: center;
	right: 0;
	height: 5rem;
	padding: 1rem;
	width: 65%;
}

nav ul {
	position: relative;
	height: 3rem;
    z-index: 90;
}

nav li {
	margin: 0rem 2.5rem;
	padding: 0.5rem;
	list-style-type: none;
}

.navItem {
	display: inline-block;
	border-bottom: 4px solid transparent;
	width: 6rem;
}

.navItem a {
	font-weight: bold;
	color: #ffffff;
}

.navMore {
    z-index: 150;
	position: absolute;
	right: 0;
	top: 1rem;
	display: none;
	text-align: center;
	width: 7rem;
    cursor: pointer;
}


/* Menu */
.menu {
	text-align: left;
	display: block;
	overflow: hidden;
	width: 10rem;
    margin-top: 5rem;
	z-index: 10;
	height: 100vh;
	left: -10rem;
	position: absolute;
}

.menuItem {
	text-align: left;
	width: 100%;
	margin: 0.5rem;
	padding: 0.75rem;
}

.menuItem p {
    vertical-align: middle;
    float: left;
    color: #757575;
    margin: 7.5px 10px;
}

.centerCard {
    z-index: 1000;
    position: absolute;
    background-color: #ffffff;
    padding: 2.5rem;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    border-radius: 5px;
    display: none;
}

.centerCard.sendMail {
    width: 50vw;
    height: 50vh;
    margin: 25vh 25vw;
}

.centerCard.changeTheme {
    width: 50vw;
    margin: 35vh 25vw;
}

.themeOption {
	margin: auto;
	width: 3rem;
	height: 3rem;
	border-radius: 100%;
}

.changeTheme li {
	display: inline-block;
	margin: 0rem 2.5rem;
	padding: 0.5rem;
	list-style-type: none;
}

#purple { background-color: #673ab7; }

#teal { background-color: #009688; }

#blue { background-color: #2196f3; }

#red { background-color: #e53935; }

.changeTheme ul, .changeTheme h3 { text-align: center; }

.menuItems { padding-top: 1rem; }

.close { display: none; }

.menuItem i { float: left; }


/* Options */
.cardMenu {
	width: 9rem;
	text-align: left;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0.5rem;
	z-index: 1;
	background-color: #fafafa;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}

.cardMenuItem {
	text-align: left;
	width: 100%;
	display: block;
	padding: 0.5rem;
}

.more {
	display: none;
	margin: 0.5rem;
}

.options { position: absolute; }

.cardMenuItem p, .cardMenuItem i { float: left; }


/* Buttons */
.FAB  {
	text-align: center;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.15);
	border-radius: 100%;
	width: 4.5rem;
	height: 4.5rem;
	padding: 1rem;
}

.FAB.top {
	position: absolute;
	display: none;
	right: 7rem;
	top: 2.75rem;
}

.FAB.bottom {
	position: fixed;
	right: 2.5rem;
	bottom: 2.5rem;
}

.undo {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
}

.undoButton {
	margin: 2rem;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.15);
	border-radius: 5px;
	background-color: #424242;
	padding: 1rem;
	color: #ffffff;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.undoButton p, .undoButton i { float: left; }


/* Cards */
.cards {
	margin: 2rem 0rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	background-color: #FFFFFF;
	margin: 0.75rem;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
	border-radius: 5px;
    overflow: hidden;
}

.container.break {
    width: 80%;
    margin: 0% 10%;
    text-align: center;
    color: #757575;
    margin: 1.5rem 0rem 0.5rem 0rem;
}

.card.small .image {
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    display: block;
}

.card.small .text {
    display: block;
}

.card.resizable.medium .image {
    overflow: hidden;
    border-radius: 5px 0px 0px 5px;
    width: 50%;
    display: inline-table;
}

.card.resizable.medium .text {
    width: 50%;
    float: right;
}

.card.resizable.big .image {
    overflow: hidden;
    border-radius: 5px 0px 0px 5px;
    width: 50%;
    display: inline-table;
}

.card.resizable.big .text {
    width: 50%;
    float: right;
}

.full {
    width: 100%;
    vertical-align: bottom;
}

.card.small { width: 27.5rem }

.card.medium { width: 56.75rem }

.card.big { width: 84rem; }

@media screen and (max-width: 1400px) {
	.card.small { width: 24.5rem }

	.card.medium { width: 49.75rem }

	.card.big { width: 75rem; }
}

@media screen and (max-width: 1250px) {
	.card.small { width: 18.5rem }

	.card.medium { width: 37,75rem }

	.card.big { width: 57rem; }
}

@media screen and (max-width: 1150px) {
	.card.small { width: 14.5rem }

	.card.medium { width: 29.75rem }

	.card.big { width: 45rem; }
}

@media screen and (max-width: 1000px) {
	.card.small { width: 29.75rem; }

	.card.medium { width: 29.75rem; }

	.card.big { width: 29.75rem; }
}


/* Text section */
.container h2 {
    text-align: center;
    font-weight: 300;
}

.container h3 {
    font-weight: bold;
}

.container h4 {
    text-align: center;
    font-weight: bold;
}

.card li {
	color: #757575;
	list-style-type: none;
}

.card ul li {
	text-align: center;
}

.card hr {
    margin: 0.75rem 0rem;
}

.card.italic {
    font-style: italic;
}

.card .tstandard th {
	background-color: #e0e0e0;
	color: #424242;
	padding: 1rem;
}

.card .tstandard td {
	color: #616161;
	text-align: center;
	padding: 1rem;
}

.card .progressBar {
	background-color: #fafafa;
	width: 100%;
	border-radius: 20px;
}

.card .progress {
	overflow: hidden;
	text-align: center;
	padding: 0.6rem;
	border-radius: 20px;
    color: #ffffff;
}

.card .progress.small p {
	font-size: 0.55rem;
	font-weight: bold;
}

.card .progress.normal { height: 2.75rem; }

.card .progress.small { height: 2rem; }

.card .text { padding: 2rem; }

.card .tstandard { width: 100%; }

.tab, .count { cursor: pointer; }


/* -- Animations -- */
.cards.goUp {
	transition-timing-function: ease;
	animation-name: up;
	animation-duration: 0.8s;
}

@keyframes up {
	0% {
		opacity: 0;
		transform: translate3d(0, 75vh, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

.cards.goDown {
	transition-timing-function: ease;
	animation-name: down;
	animation-duration: 0.8s;
}

@keyframes down {
    0% {
		opacity: 1;
		transform: none;
	}
	100% {
		opacity: 0;
		transform: translate3d(0, 75vh, 0);
	}
}

.progress {
	animation-timing-function: ease;
	animation-name: width;
	animation-duration: 2.5s;
}

@keyframes width {
	0% {
		width: 5%;
	}
}

.themeOption, .card, .card .image, .card .text, .FAB, .menuItem, .undoButton, nav li, .progress, header { transition: 0.4s; }

.card:hover { box-shadow: 0px 4px 10px rgba(0,0,0,0.2); }

.FAB:hover, .undoButton:hover { box-shadow: 0px 6px 8px rgba(0,0,0,0.30); }

.cardMenuItem:hover { background-color: #eeeeee; }

.menuItem:hover { background-color: #e0e0e0; }

.card a:hover, .tab:hover {text-decoration: underline};


/* -- Icons -- */
/* source http://google.github.io/material-design-icons/  */
.menuItem i {
	padding-right: 1rem;
}

.cardMenuItem i {
	display: inline;
	margin-right: 0.5rem;
}

.menu-icon {
	margin: 1.3rem;
	float: left;
    z-index: 110;
    position: relative;
}

.FABicon {
	display: inline-block;
	vertical-align: middle;
}

.undoIcon { padding-left: 0.5rem; }

.material-icons.md-18 { font-size: 18px; }

.material-icons.md-24 { font-size: 24px; }

.material-icons.md-36 { font-size: 36px; }

.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }

.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
