<title>Faunadex - <%= name %></title>
<meta name="description" content="Discover the world of animals with this scanning app.">
<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
<link rel="manifest" href="manifest.json">
