<%
 var menuItems = ['Home', 'Scan', 'Results', 'Achievements', 'About']
%>

<% for (var index = 0; index < menuItems.length; index++) { %>
  <%
    var item = menuItems[index]
    var path = item.toLowerCase()
    var classes  = 'menuItem'
    if (selected === item) {
      path = ''
      classes = classes + ' selected'
    }
  %>
  <div class="<%= classes %>">
    <a href="/<%= path %>">
      <img src="assets/images/icons/<%= item.toLowerCase() %>.svg"/>
      <p><%= item %></p>
    </a>
  </div>
<% } %>
