

%fill {
  // https://stackoverflow.com/questions/36949747/make-video-fit-100-with-any-screen-resolution
  position: absolute;
  min-height: 100%; // Fill
  min-width: 100%;
  max-height: 100%;
  height: auto; // Don't strech element
  width: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// From old projects
%card {
  @include shadow(2, 4);
  background-color: $grey-50;
  transition: $animation;

  &:hover {
    @include shadow(14, 28)
  }
}

%click {
  cursor: pointer; // Can be clicked

  &:disabled {
    cursor: default; // Can't be clicked
  }

  &:focus,
  &:active {
    outline: none;
  }
}

%form {
  @extend %click;
  background-color: transparent; // Hides default background
  border: 0 solid transparent; // Hides border
  transition: $animation;
}

%button {
  @extend %form; // Is a type of form
  @include shadow(2, 4);
  text-align: center; // Center horizontally

  &:hover,
  &:focus {
    @include shadow(8, 22)
  }
}

%normal {
  @extend %button; // Is a button
  background-color: $primary-500;
  color: #fff;
  padding: 0.75rem;
  text-transform: uppercase;
}

%round {
  @extend %button; // Is a button
  border-radius: 100%; // Round
}
