%loader {
  display: inline-block;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: $time * 2;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  height: 25vw;
  width: 25vw;
  border: 5vw solid $grey-300;
  border-top: 5vw solid $primary-700;
}

%label {
  font-family: 'roboto-mono', monospace;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center; // Center horizontally
}

%fill {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block; // Remove whitespace
}

%center-self {
  position: relative;
  top: 50%; // Of parent width
  transform: translateY(-50%); // Of own width
}

%center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

// From old projects
%card {
  @include shadow(2, 4);
  background-color: $grey-50;
  animation: slideUp $animation;
  transition: $animation;

  &:hover {
    @include shadow(14, 28)
  }
}

%click {
  cursor: pointer; // Can be clicked

  &:disabled {
    cursor: default; // Can't be clicked
  }

  &:focus,
  &:active {
    outline: none;
  }
}

%form {
  @extend %click;
  background-color: transparent; // Hides default background
  border: 0 solid transparent; // Hides border
  transition: $animation;
}

%button {
  @extend %form; // Is a type of form
  @include shadow(2, 4);

  &:hover,
  &:focus {
    @include shadow(8, 22)
  }
}

%button-normal {
  @extend %button; // Is a button
  @extend %label;
  color: #fff;
  padding: $padding-standard;
}

%button-round {
  @extend %button; // Is a button
  border-radius: 100%; // Round
}
