

%fill {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block; // Remove whitespace
}

%center-self {
  position: relative;
  top: 50%; // Of parent width
  transform: translateY(-50%); // Of own width
}

%center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

// From old projects
%card {
  @include shadow(2, 4);
  background-color: $grey-50;
  transition: $animation;

  &:hover {
    @include shadow(14, 28)
  }
}

%click {
  cursor: pointer; // Can be clicked

  &:disabled {
    cursor: default; // Can't be clicked
  }

  &:focus,
  &:active {
    outline: none;
  }
}

%form {
  @extend %click;
  background-color: transparent; // Hides default background
  border: 0 solid transparent; // Hides border
  transition: $animation;
}

%button {
  @extend %form; // Is a type of form
  @include shadow(2, 4);
  text-align: center; // Center horizontally

  &:hover,
  &:focus {
    @include shadow(8, 22)
  }
}

%button-normal {
  @extend %button; // Is a button
  color: #fff;
  padding: $padding-standard;
  text-transform: uppercase;
}

%button-round {
  @extend %button; // Is a button
  border-radius: 100%; // Round
}
