@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 18px; // Rem is based on this
}

body {
  overflow: auto;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-family: 'roboto', sans-serif;
  background-color: $grey-200;
}

a {
  text-decoration: none;
}

main {
  overflow-y: scroll; // All main content
}
