* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; // Box model acts normal
  margin: 0;
  padding: 0;
  border: 1px dotted blue;
}

body {
  font-family: 'Orbitron', sans-serif; // Applies to everything
  font-size: 1rem; // Defaults to base font-size
}
