&#about {
  // Local variables
  $height: 60vh; // For the card

  margin-top: ($height / 2); // Card will be halfway aligned with header

  .card {
    @extend %res-cards; // Displays next to each other or above

    @include media(phone-only) {
      height: ($height * 2);
    }
    @include media(tablet-portrait-up) {
      height: ($height * 2.5);
    }
    @include media(tablet-landscape-up) {
      height: $height;
    }
    @include media(desktop-up) {
      height: $height;
    }

    .container {
      @include media(phone-only) {
        height: auto;
        width: 100%;
      }
      @include media(tablet-portrait-up) {
        height: auto;
        width: 100%;
      }
      @include media(tablet-landscape-up) {
        height: $height;
        width: auto; // Of card
      }
      @include media(desktop-up) {
        height: $height;
        width: auto; // Of card
      }

      img {
        display: block;
        transition: $animation; // Smooth resizing

        @include media(phone-only) {
          height: auto;
          width: 100%;
        }
        @include media(tablet-portrait-up) {
          height: auto;
          width: 100%;
        }
        @include media(tablet-landscape-up) {
          height: 100%;
          width: auto;
        }
        @include media(desktop-up) {
          height: 100%;
          width: auto;
        }
      }
    }

    .text {
      user-select: text; // Can be selected

      @include media(phone-only) {
        margin-top: ($margin / 2);
        width: 100%;
      }
      @include media(tablet-portrait-up) {
        margin-top: ($margin / 2);
        width: 100%;
      }
      @include media(tablet-landscape-up) {
        margin-top: 0;
        width: auto; // Of card
      }
      @include media(desktop-up) {
        margin-top: 0;
        width: auto; // Of card
      }

      h2 {
        @extend %header;
        font-size: 2rem; // Based on base font-size
        margin: ($margin / 4) 0; // One fourth of card margin
      }

      .tagline {
        font-size: 1.2rem; // Based on base font-size
      }
    }
  }
}
