.part {
  // Local variables
  $height: 60vh; // For the card

  &:first-child { // The first part
    margin-top: ($height / 2); // Card will be halfway aligned with header
  }

  &#about {
    .card {
      @extend %res-cards; // Displays next to each other or above

      @include media(phone-only) {
        height: ($height * 2);
      }
      @include media(tablet-portrait-up) {
        height: ($height * 2.5);
      }
      @include media(tablet-landscape-up) {
        height: $height;
      }
      @include media(desktop-up) {
        height: $height;
      }

      .container {
        @include media(phone-only) {
          height: auto;
          width: 100%;
        }
        @include media(tablet-portrait-up) {
          height: auto;
          width: 100%;
        }
        @include media(tablet-landscape-up) {
          height: $height;
          width: auto; // Of card
        }
        @include media(desktop-up) {
          height: $height;
          width: auto; // Of card
        }

        img {
          @include media(phone-only) {
            height: auto;
            width: 100%;
          }
          @include media(tablet-portrait-up) {
            height: auto;
            width: 100%;
          }
          @include media(tablet-landscape-up) {
            height: 100%;
            width: auto;
          }
          @include media(desktop-up) {
            height: 100%;
            width: auto;
          }

          display: block;
        }
      }

      .text {
        @include media(phone-only) {
          margin-top: ($margin / 2);
          width: 100%;
        }
        @include media(tablet-portrait-up) {
          margin-top: ($margin / 2);
          width: 100%;
        }
        @include media(tablet-landscape-up) {
          margin-top: 0;
          width: auto; // Of card
        }
        @include media(desktop-up) {
          margin-top: 0;
          width: auto; // Of card
        }

        -moz-user-select: text;
        -ms-user-select: text;
        -webkit-user-select: text;
        overflow-x: hidden;
        overflow-y: auto; // User can scroll if content isn't visible
        user-select: text; // Can be selected

        h1 {
          @extend %header;
          font-size: 2rem; // Based on base font-size
          margin: ($margin / 4) 0; // One fourth of card margin
        }

        .tagline {
          @include color(grey, 'color', 700);
          font-size: 1.2rem; // Based on base font-size
        }

        a {
          @extend %link; // Default link
        }
      }
    }
  }
}
