&#about {
    // Local variables
    $height: 60vh; // For the card

    margin-top: ($height / 2); // Card will be halfway aligned with header

    .card {
        @extend %flex; // Best way to display two elements next to each other
        height: $height;

        .container {
            height: $height;
            overflow: hidden;
            width: 50%; // Of card

            img {
                display: block;
                height: 100%; // Fills media
                transition: $animation; // Smooth resizing
                width: auto; // Maintains aspect ratio
            }
        }

        .text {
            user-select: text; // Can be selected
            width: 50%; // Of card

            h2 {
                @extend %header;
                font-size: 2rem; // Based on base font-size
                margin-bottom: ($margin / 4); // One fourth of card margin
            }

            .tagline {
                color: #616161;
                font-size: 1.2rem; // Based on base font-size
            }
        }
    }
}
