#experience {

  .card {
    .text {
      .head {
        @extend %flex; // Best way to display two elements next to each other
        cursor: pointer; // Can be clicked

        .tag {

          h3 {
            @extend %header;
            font-size: 1.75rem; // Based on base font-size
            margin-bottom: ($margin / 4); // Room between the paragraph
          }

          p {
            @include color(grey, 'color', 700);
          }
        }

        .date {
          @extend %normal;
          @include color(primary, 'background-color', 300); // Overwrite color
          margin-left: auto; // Aligned right
          position: relative; // Absolute tooltip will be placed with regard to this

          span {
            margin: 0 ($margin / 6); // One sixth of the card margin
          }

          .tooltip {
            @extend %tooltip;
            width: 100%;
          }
        }
      }

      .collapse {
        display: none; // Collapsed state

        p {
          -moz-user-select: text;
          -ms-user-select: text;
          -webkit-user-select: text;
          user-select: text; // Can be selected
        }

        a {
          @extend %link; // Default link
        }

        .number {
          @include color(secondary, 'color', 100);
        }
      }
    }
  }
}
