#portfolio {
  .sort {
    margin: 0 auto; // Centers
    text-align: center;
    width: 25%; // Of portfolio

    a {
      @extend %form; // Is a type of form
      @include color(grey, 'color', 600);
      display: block; // Entire block is clickable
      margin: 5%; // Of sort width
      position: relative; // Absolute tooltip will be placed with regard to this
      text-decoration: none;
      text-transform: uppercase;

      .material-icons {
        display: inline-block; // More like a button
        position: absolute; // The tag will be centered not both together
        transform: translateX(-150%); // Will be next to the tag
        vertical-align: middle;
      }

      span {
        vertical-align: middle;
      }

      .tooltip {
        @extend %tooltip;
        -webkit-transform: translate(-25%, -110%);
        transform: translate(-25%, -110%); // Above text, also uses default from class
      }
    }
  }

  .content { // TODO make the pages sidescroll
    @extend %flex; // Pages next to eachother
    width: 100%; // Of portfolio
  }

  .page {
    @extend %grid; // Grid of cards
    margin: $margin; // Becomes the same width as cards
    width: 100%;

    .container {
      @include media(phone-only) {
        width: 100%; // One per row
      }
      @include media(tablet-portrait-up) {
        width: 100%; // One per row
      }
      @include media(tablet-landscape-up) {
        width: calc(100% / 2); // Two next to each other
      }
      @include media(desktop-up) {
        width: calc(100% / 3); // Three next to each other
      }

      .preview {
        height: 100%; // Fill container
        position: relative; // Absolute of description works by positioned elements
        transition: $animation;
        width: 100%; // Of main
        z-index: 30; // Above main

        &:hover {
          @include shadow(14, 28)
          z-index: 40; // Above the others
        }

        img {
          display: block; // No white space on the bottom
          width: 100%; // Of preview
        }

        span {
          @extend %vertical; // Align text vertically
          -webkit-transition: $animation;
          height: 100%; // Text will be in the middle
          left: 0;
          position: absolute;
          top: 0;
          transition: $animation;
          width: 100%; // Of container

          &:hover {
            background-color: rgba(0, 0, 0, .15); // Darker shade to show text

            .tags {
              opacity: 1;
            }
          }

          .tags {
            color: #fff;
            margin: auto;
            opacity: 0; // Displayed on hover
            text-align: center;

            h3 {
              font-size: 1.5rem;
            }

            p {
              font-size: .85rem;
            }
          }
        }
      }
    }
  }

  .select {
    @extend %flex;
    height: 2vw;
    margin: 0 40%; // Of main
    text-align: center;
    width: 20%; // Of main

    p {
      @include color(grey, 'color', 600);
      display: inline;
      margin: auto;
      text-transform: uppercase;
    }

    button {
      @extend %form; // Is a type of form
      @include ripple(dark);
      border-radius: 100%;
      height: 2vw;
      width: 2vw;
    }
  }
}
