&#skills {

  .card {
    .text {
      .head {
        @extend %flex; // Best way to display two elements next to each other
        cursor: pointer; // Can be clicked

        .tag {
          margin-right: auto; // Remaining space
          overflow: hidden;
          width: 35%; // Of the card

          h3 {
            @extend %header;
            font-size: 1.75rem; // Based on base font-size
          }
        }

        .box {
          @extend %vertical; // Vertical flex
          width: 60%; // Of the card

          progress {
            @extend %progress;
            width: 100%; // Of box
          }
        }
      }

      .collapse {
        display: none; // Collapsed state

        .box {
          @extend %flex; // Best way to display two elements next to each other
          align-items: stretch;; // Elements are 100% of height

          .description {
            margin-right: auto; // Remaining space
            user-select: text; // Can be selected
            width: 40%; // Of collapse
          }

          .progress {
            width: 55%; // Of collapse

            .container {
              @extend %colomn; // Distribute divs evenly
              height: 100%; // Fills progress
              width: 100%;

              div {
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1; // Grow to fill parent
                width: 100%; // Of container

                p {
                  text-align: center;
                }

                progress {
                  @extend %progress;
                  margin: ($margin / 8) 0; // One eight of the card margin
                  width: 100%; // Of sub
                }
              }
            }
          }
        }
      }
    }
  }
}
