#skills {
  .head {
    @extend %flex; // Best way to display two elements next to each other
    cursor: pointer; // Can be clicked

    .tag {
      margin-right: auto; // Remaining space
      overflow: hidden;

      h3 {
        @extend %header;
        font-size: 1.75rem; // Based on base font-size
      }
    }

    .container {
      margin-left: auto;
      position: relative; // Absolute tooltip will be placed with regard to this
      width: 60%; // Of the card

      progress {
        @extend %progress;
        width: 100%; // Of container
      }

      .tooltip {
        @extend %tooltip;
        margin-left: 40%; // Of container
        text-align: center;
        text-transform: uppercase;
        width: 20%; // Of container
      }
    }
  }

  .collapse {
    display: none; // Collapsed state

    .box {
      @extend %res-cards; // Best way to display two elements next to each other
      align-items: stretch; // Elements are 100% of height

      .description {
        @include media(phone-only) {
          margin-bottom: 5%; // Of collapse width
          width: 100%; // Of collapse
        }
        @include media(tablet-portrait-up) {
          margin-bottom: 5%; // Of collapse width
          width: 100%; // Of collapse
        }
        @include media(tablet-landscape-up) {
          margin-bottom: 0; // None
          width: 40%; // Of collapse
        }
        @include media(desktop-up) {
          margin-bottom: 0; // None
          width: 40%; // Of collapse
        }

        margin-right: auto; // Remaining space
        user-select: text; // Can be selected

        a {
          @extend %link; // Default link
        }
      }

      .progress {
        @include media(phone-only) {
          width: 100%; // Of collapse
        }
        @include media(tablet-portrait-up) {
          width: 100%; // Of collapse
        }
        @include media(tablet-landscape-up) {
          width: 55%; // Of collapse
        }
        @include media(desktop-up) {
          width: 55%; // Of collapse
        }

        .container {
          @extend %colomn; // Distribute divs evenly
          height: 100%; // Fills progress
          width: 100%;

          div {
            -ms-flex-positive: 1;
            -webkit-box-flex: 1;
            flex-grow: 1; // Grow to fill parent
            width: 100%; // Of container

            p {
              text-align: center;
            }
          }

          progress {
            @extend %progress;
            margin: ($margin / 8) 0; // One eight of the card margin
            width: 100%; // Of sub
          }
        }
      }
    }
  }
}
