.top {
  nav {
    // Local variables
    $height: 5vh; // Height local to the nav
	  $padding: 1vh; // Padding local to nav

    @include prefix(animation, slideDown $animation-long); // On load it slides in from the top with normal tranistion values
    @include shadow(2, 10);
    background-color: #fafafa;

    left: 0;
    overflow: hidden; // If elements are too big they are hidden
    position: fixed; // Travels with scroll
    top: 0;
    width: 100vw;
    z-index: 30; // Above main

    @include media(phone-only) {
      height: ($height + 3vh);
      padding: ($padding + 1vh) ($padding * 3 + 1vh); // More on the side than on the top
    }
    @include media(tablet-portrait-up) {
      height: ($height + 3vh);
      padding: ($padding + 1.4vh) ($padding * 3 + 1vh); // More on the side than on the top
    }
    @include media(tablet-landscape-up) {
      height: $height;
      padding: $padding ($padding * 3); // More on the side than on the top
    }
    @include media(desktop-up) {
      height: $height;
      padding: $padding ($padding * 3); // More on the side than on the top
    }

    .logo {
      float: left;

      @include media(phone-only) {
        height: ($height + 3vh - ($padding + 1vh) * 2);
        width: ($height + 3vh - ($padding + 1vh) * 2);
      }
      @include media(tablet-portrait-up) {
        height: ($height + 3vh - ($padding + 1.4vh) * 2);
        width: ($height + 3vh - ($padding + 1.4vh) * 2);
      }
      @include media(tablet-landscape-up) {
        height: ($height - ($padding * 2));
        width: ($height - ($padding * 2));
      }
      @include media(desktop-up) {
        height: ($height - ($padding * 2));
        width: ($height - ($padding * 2));
      }

      img {
        display: block;
        height: 100%; // of logo
        width: 100%; // Of logo
      }
    }

    ul {
      float: right;
      height: ($height - ($padding * 2));

      li {
        display: inline-block;
        margin-left: 2vw;
        text-transform: uppercase;
        vertical-align: middle; // Same height as button

        .focus { // If the corresponding section is focused
          @include color(primary, 'color', 500);
        }

        a {
          // All links
          @extend %click;
          color: $color-darkgrey;
          text-decoration: none;
          transition: $animation;
        }

        &:not(:last-child) a:not(.focus) {
          // All but last, not focused
          &:focus,
          &:hover {
            opacity: .55;
          }
        }

        &:last-child a {
          // Last
          @extend %round; // Round button
          @include color(secondary, 'background-color', 200);
          display: inline-block;
          height: ($height - 2vh);
          width: ($height - 2vh);

          .material-icons {
            font-size: 2vh;
            margin-bottom: .4vh;
          }
        }
      }
    }
  }

  header {
    @include prefix(animation, slideDown $animation-long); // On load it slides in from the top with normal tranistion values
    @include color(primary, 'background-color', 500);
    @include shadow(2, 6);
    height: 60vh;
    position: absolute; // Background
    top: 0;
    width: 100vw;
    z-index: 10; // Below main
  }
}
