// Main stylesheet for screen

// TODO Make layout more responsive
// TODO More shallow nesting

// Global variables and functions
@import 'storage/variables';

// Classes
@import 'storage/classes';

// Universal and global
* {
  box-sizing: border-box; // Box model acts normal
  margin: 0;
  padding: 0;
}

::selection {
  @include color(secondary, 'background-color', 100);
  color: #fff;
}

:root {
  @include media(phone-only) {
    font-size: 20px; // Base font size, all are based on this one via the rem unit
  }
  @include media(tablet-portrait-up) {
    font-size: 18px; // Base font size, all are based on this one via the rem unit
  }
  @include media(tablet-landscape-up) {
    font-size: 16px; // Base font size, all are based on this one via the rem unit
  }
  @include media(desktop-up) {
    font-size: 16px; // Base font size, all are based on this one via the rem unit
  }
}

body {
  background-color: #eee;
  color: $color-darkgrey; // Default color, applies mostly to text
  font-family: 'noto-sans', 'roboto', sans-serif; // Applies to everything
  font-size: 1rem; // Defaults to base font-size
  min-width: 400px; // Can't be resized smaller
  user-select: none; // No selecting text is standard It is overwritten in some text divs
}

// Needed to display the icon font properly
.material-icons {
  &.md-dark {
    color: rgba(0, 0, 0, .55);
  }

  &.md-dark.md-inactive {
    color: rgba(0, 0, 0, .45);
  }

  &.md-light {
    color: rgba(255, 255, 255, 1);
  }

  &.md-light.md-inactive {
    color: rgba(255, 255, 255, .5);
  }
}

// Top style
@import 'storage/top';

// Page style
main {
  @include prefix(animation, slideUp $animation-long); // On load it slides in from the bottom with normal tranistion values
  margin: 0 $base-margin; // Main gets centered horizontally
  position: relative; // Z-index doesn't work on static elements
  width: (100vw - (2 * $base-margin));
  z-index: 20; // Above the header

  .part {
    // Local variables
    $margin: ($base-margin / 4); // The margin local to part
    $padding: ($base-margin / 5); // Padding local to part

    @include media(phone-only) {
      margin: ($margin * 2) $margin;
    }
    @include media(tablet-portrait-up) {
      margin: ($margin * 2) $margin;
    }
    @include media(tablet-landscape-up) {
      margin: ($margin * 2);
    }
    @include media(desktop-up) {
      margin: ($margin * 2);
    }

    // Shared values for each part
    .card {
      @extend %card; // Card
      margin: $margin; // Distance between cards
      z-index: 30; // Above main

      .text {
        overflow-y: auto; // User can scroll if content isn't visible
        overflow-x: hidden;

        @include media(phone-only) {
          padding: ($padding * 1.5); // Will be like the padding for card but allows images to fill card
          text-align: center;
        }
        @include media(tablet-portrait-up) {
          padding: ($padding * 1.5); // Will be like the padding for card but allows images to fill card
          text-align: center;
        }
        @include media(tablet-landscape-up) {
          padding: $padding; // Will be like the padding for card but allows images to fill card
          text-align: left;
        }
        @include media(desktop-up) {
          padding: $padding; // Will be like the padding for card but allows images to fill card
          text-align: left;
        }

        hr {
          border: 0; // No double borders
          border-top: 1px solid $color-lightgrey;
          margin: ($margin / 1.5) 0 ($margin / 3); // One third of the card margin on the bottom and double that on the top
          width: 100%;
        }
      }
    }

    .title {
      @extend %header;
      font-size: 1.75rem; // Based on base font-size
      text-align: center; // Center horizontally
      text-transform: uppercase;
    }

    // About part
    @import 'storage/about';

    // Experience part
    @import 'storage/experience';

    // Skills part
    @import 'storage/skills';

    // Portfolio part
    @import 'storage/portfolio';

    // Contact part
    @import 'storage/contact';
  }
}
