@-webkit-keyframes slideDown { from { -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  to { -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes slideDown { from { -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  to { -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes slideUp { from { -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  to { -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes slideUp { from { -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  to { -webkit-transform: translateY(0);
    transform: translateY(0); } }

main .part .card { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2); background-color: #fff; -webkit-transition: 400ms ease-in-out; transition: 400ms ease-in-out; }

main .part .card:hover { box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.2); }

main .part#about .card .text a, main .part#experience .card .text .collapse a, main .part#contact .content .card:nth-child(2) .text fieldset [type='text'], main .part#experience .card .text .head .box .date, main .part#contact .content .card:nth-child(1) button, main .part#contact .content .card:nth-child(2) .text .end input[type='submit'], .top nav ul li:last-child a, main .part#contact .content .card:nth-child(1) .container .text ul li .box .icon, main .part#portfolio .sort a, main .part#portfolio .select button, .top nav ul li a { cursor: pointer; }

main .part#about .card .text a:focus, main .part#experience .card .text .collapse a:focus, main .part#contact .content .card:nth-child(2) .text fieldset [type='text']:focus, main .part#experience .card .text .head .box .date:focus, main .part#contact .content .card:nth-child(1) button:focus, main .part#contact .content .card:nth-child(2) .text .end input[type='submit']:focus, main .part#contact .content .card:nth-child(1) .container .text ul li .box .icon:focus, main .part#portfolio .sort a:focus, main .part#portfolio .select button:focus, .top nav ul li a:focus, main .part#about .card .text a:active, main .part#experience .card .text .collapse a:active, main .part#contact .content .card:nth-child(2) .text fieldset [type='text']:active, main .part#experience .card .text .head .box .date:active, main .part#contact .content .card:nth-child(1) button:active, main .part#contact .content .card:nth-child(2) .text .end input[type='submit']:active, main .part#contact .content .card:nth-child(1) .container .text ul li .box .icon:active, main .part#portfolio .sort a:active, main .part#portfolio .select button:active, .top nav ul li a:active { outline: none; }

main .part#about .card .text a, main .part#experience .card .text .collapse a { color: #ff6e40; text-decoration: none; }

main .part#about .card .text a:hover, main .part#experience .card .text .collapse a:hover, main .part#about .card .text a:focus, main .part#experience .card .text .collapse a:focus { text-decoration: underline; }

main .part#about .card .text a:visited, main .part#experience .card .text .collapse a:visited { color: #dd2c00; }

main .part .title, main .part#about .card .text h2, main .part#experience .card .text .head .tag h3, main .part#skills .card .text .head .tag h3 { color: #00bcd4; font-weight: normal; }

main .part#skills .card .text .head .box progress, main .part#skills .card .text .collapse .box .progress .container div progress { border: 0 solid transparent; }

main .part#skills .card .text .head .box progress::-webkit-progress-value, main .part#skills .card .text .collapse .box .progress .container div progress::-webkit-progress-value { background-color: #4dd0e1; }

main .part#skills .card .text .head .box progress::-webkit-progress-bar, main .part#skills .card .text .collapse .box .progress .container div progress::-webkit-progress-bar { background-color: #f5f5f5; }

main .part#contact .content .card:nth-child(2) .text fieldset [type='text'], main .part#experience .card .text .head .box .date, main .part#contact .content .card:nth-child(1) button, main .part#contact .content .card:nth-child(2) .text .end input[type='submit'], .top nav ul li:last-child a, main .part#contact .content .card:nth-child(1) .container .text ul li .box .icon, main .part#portfolio .sort a, main .part#portfolio .select button { background-color: transparent; border: 0 solid transparent; transition: 400ms ease-in-out; }

main .part#contact .content .card:nth-child(2) .text fieldset [type='text'] { border-bottom: 1px solid #bdbdbd; color: #757575; width: 100%; }

main .part#contact .content .card:nth-child(2) .text fieldset [type='text']::-webkit-input-placeholder { -webkit-transition: 400ms ease-in-out; transition: 400ms ease-in-out; }

main .part#contact .content .card:nth-child(2) .text fieldset [type='text']:focus { border-bottom-color: #ff6e40; }

main .part#contact .content .card:nth-child(2) .text fieldset [type='text']:focus::-webkit-input-placeholder { color: #ff6e40; font-size: .75rem; -webkit-transform: translateY(-150%); transform: translateY(-150%); }

main .part#experience .card .text .head .box .date .tooltip, main .part#portfolio .sort a .tooltip { box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2); background-color: #424242; border: 1px solid #424242; color: #fff; display: none; font-size: .8rem; left: 0; padding: 0.55556vw 0.83333vw; position: absolute; top: 0; -webkit-transform: translateY(-110%); transform: translateY(-110%); white-space: nowrap; }

main .part#experience .card .text .head .box .date .tooltip::after, main .part#portfolio .sort a .tooltip::after { border-color: #424242 transparent; border-style: solid; border-width: 10px 10px 0; bottom: -10px; content: ''; display: block; left: 50%; margin-left: -10px; position: absolute; width: 0; }

main .part#experience .card .text .head .box .date, main .part#contact .content .card:nth-child(1) button, main .part#contact .content .card:nth-child(2) .text .end input[type='submit'], .top nav ul li:last-child a, main .part#contact .content .card:nth-child(1) .container .text ul li .box .icon { box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2); text-align: center; }

main .part#experience .card .text .head .box .date:hover, main .part#contact .content .card:nth-child(1) button:hover, main .part#contact .content .card:nth-child(2) .text .end input[type='submit']:hover, .top nav ul li:last-child a:hover, main .part#contact .content .card:nth-child(1) .container .text ul li .box .icon:hover, main .part#experience .card .text .head .box .date:focus, main .part#contact .content .card:nth-child(1) button:focus, main .part#contact .content .card:nth-child(2) .text .end input[type='submit']:focus, .top nav ul li:last-child a:focus, main .part#contact .content .card:nth-child(1) .container .text ul li .box .icon:focus { box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1), 0 6px 16px rgba(0, 0, 0, 0.2); }

main .part#experience .card .text .head .box .date:first-child, main .part#contact .content .card:nth-child(1) button:first-child, main .part#contact .content .card:nth-child(2) .text .end input[type='submit']:first-child, .top nav ul li:last-child a:first-child, main .part#contact .content .card:nth-child(1) .container .text ul li .box .icon:first-child { vertical-align: middle; }

main .part#experience .card .text .head .box .date, main .part#contact .content .card:nth-child(1) button, main .part#contact .content .card:nth-child(2) .text .end input[type='submit'] { background-color: #00bcd4; color: #fff; padding: 0.71429vw 1.25vw; text-transform: uppercase; }

.top nav ul li:last-child a, main .part#contact .content .card:nth-child(1) .container .text ul li .box .icon { background-color: #ff6e40; border-radius: 100%; }

main .part#experience .card .text .head .box, main .part#skills .card .text .head .box, main .part#portfolio .content .page .container .preview span, main .part#contact .content .card:nth-child(1) .container .text ul li, main .part#contact .content .card:nth-child(1) .container .text ul li .box div, main .part#contact .content .card:nth-child(2) .text .end .box, main .part#skills .card .text .collapse .box .progress .container, main .part#contact .content .card:nth-child(1) .container .text ul, main .part#contact .content .card:nth-child(2) .text fieldset, main .part#portfolio .content .page, main .part#experience .card .text .head, main .part#skills .card .text .head, main .part#skills .card .text .collapse .box, main .part#portfolio .content, main .part#contact .content .card:nth-child(1) .container .text ul li .box { display: -webkit-flex; }

main .part#experience .card .text .head .box, main .part#skills .card .text .head .box, main .part#portfolio .content .page .container .preview span, main .part#contact .content .card:nth-child(1) .container .text ul li, main .part#contact .content .card:nth-child(1) .container .text ul li .box div, main .part#contact .content .card:nth-child(2) .text .end .box { align-items: center; }

main .part#skills .card .text .collapse .box .progress .container, main .part#contact .content .card:nth-child(1) .container .text ul, main .part#contact .content .card:nth-child(2) .text fieldset { flex-direction: column; }

main .part#portfolio .content .page { flex-wrap: wrap; }

main .part#about .card, main .part#contact .content, main .part#contact .content .card:nth-child(2) .text .end { display: -webkit-flex; }

@media only screen and (max-width: 599px) { main .part#about .card, main .part#contact .content, main .part#contact .content .card:nth-child(2) .text .end { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

@media only screen and (min-width: 600px) { main .part#about .card, main .part#contact .content, main .part#contact .content .card:nth-child(2) .text .end { flex-direction: column; } }

@media only screen and (min-width: 900px) { main .part#about .card, main .part#contact .content, main .part#contact .content .card:nth-child(2) .text .end { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } }

@media only screen and (min-width: 1200px) { main .part#about .card, main .part#contact .content, main .part#contact .content .card:nth-child(2) .text .end { flex-direction: row; } }

* { -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }

::-moz-selection { background-color: #ff9e80; color: #fff; }

::selection { background-color: #ff9e80; color: #fff; }

@media only screen and (max-width: 599px) { :root { font-size: 20px; } }

@media only screen and (min-width: 600px) { :root { font-size: 18px; } }

@media only screen and (min-width: 900px) { :root { font-size: 16px; } }

@media only screen and (min-width: 1200px) { :root { font-size: 16px; } }

body { background-color: #eee; color: #757575; font-family: 'noto-sans', 'roboto', sans-serif; font-size: 1rem; min-width: 400px; user-select: none; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.55); }

.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.45); }

.material-icons.md-light { color: white; }

.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.5); }

.top nav { box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.2); -webkit-animation: slideDown 800ms ease-in-out; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.2); animation: slideDown 800ms ease-in-out; background-color: #fafafa; left: 0; overflow: hidden; position: fixed; top: 0; width: 100vw; z-index: 30; }

@media only screen and (max-width: 599px) { .top nav { height: 8vh; padding: 2vh 4vh; } }

@media only screen and (min-width: 600px) { .top nav { height: 8vh; padding: 2.4vh 4vh; } }

@media only screen and (min-width: 900px) { .top nav { height: 5vh; padding: 1vh 3vh; } }

@media only screen and (min-width: 1200px) { .top nav { height: 5vh; padding: 1vh 3vh; } }

.top nav .logo { float: left; }

@media only screen and (max-width: 599px) { .top nav .logo { height: 4vh; width: 4vh; } }

@media only screen and (min-width: 600px) { .top nav .logo { height: 3.2vh; width: 3.2vh; } }

@media only screen and (min-width: 900px) { .top nav .logo { height: 3vh; width: 3vh; } }

@media only screen and (min-width: 1200px) { .top nav .logo { height: 3vh; width: 3vh; } }

.top nav .logo img { display: block; height: 100%; width: 100%; }

.top nav ul { float: right; height: 3vh; }

.top nav ul li { display: inline-block; margin-left: 2vw; text-transform: uppercase; vertical-align: middle; }

.top nav ul li .focus { color: #00bcd4; }

.top nav ul li a { color: #757575; text-decoration: none; -webkit-transition: 400ms ease-in-out; transition: 400ms ease-in-out; }

.top nav ul li:not(:last-child) a:not(.focus):focus, .top nav ul li:not(:last-child) a:not(.focus):hover { opacity: .55; }

.top nav ul li:last-child a { background-color: #ff6e40; display: inline-block; }

@media only screen and (max-width: 599px) { .top nav ul li:last-child a { height: 4vh; width: 4vh; } }

@media only screen and (min-width: 600px) { .top nav ul li:last-child a { height: 3.2vh; width: 3.2vh; } }

@media only screen and (min-width: 900px) { .top nav ul li:last-child a { height: 3vh; width: 3vh; } }

@media only screen and (min-width: 1200px) { .top nav ul li:last-child a { height: 3vh; width: 3vh; } }

.top nav ul li:last-child a .material-icons { font-size: 2vh; margin-bottom: .4vh; }

.top header { background-color: #00bcd4; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.2); -webkit-animation: slideDown 800ms ease-in-out; animation: slideDown 800ms ease-in-out; height: 60vh; position: absolute; top: 0; width: 100vw; z-index: 10; }

main { animation: slideUp 800ms ease-in-out; margin: 0 10vw; position: relative; width: 80vw; z-index: 20; }

@media only screen and (max-width: 599px) { main .part { margin: 5vw 2.5vw; } }

@media only screen and (min-width: 600px) { main .part { margin: 5vw 2.5vw; } }

@media only screen and (min-width: 900px) { main .part { margin: 5vw; } }

@media only screen and (min-width: 1200px) { main .part { margin: 5vw; } }

main .part .card { margin: 2.5vw; z-index: 30; }

main .part .card .text { overflow-y: auto; overflow-x: hidden; }

@media only screen and (max-width: 599px) { main .part .card .text { padding: 3vw; text-align: center; } }

@media only screen and (min-width: 600px) { main .part .card .text { padding: 3vw; text-align: center; } }

@media only screen and (min-width: 900px) { main .part .card .text { padding: 2vw; text-align: left; } }

@media only screen and (min-width: 1200px) { main .part .card .text { padding: 2vw; text-align: left; } }

main .part .card .text hr { border: 0; border-top: 1px solid #bdbdbd; margin: 1.66667vw 0 0.83333vw; width: 100%; }

main .part .title { font-size: 1.75rem; text-align: center; text-transform: uppercase; }

main .part#about { margin-top: 30vh; }

@media only screen and (max-width: 599px) { main .part#about .card { height: 120vh; } }

@media only screen and (min-width: 600px) { main .part#about .card { height: 150vh; } }

@media only screen and (min-width: 900px) { main .part#about .card { height: 60vh; } }

@media only screen and (min-width: 1200px) { main .part#about .card { height: 60vh; } }

@media only screen and (max-width: 599px) { main .part#about .card .container { height: auto; width: 100%; } }

@media only screen and (min-width: 600px) { main .part#about .card .container { height: auto; width: 100%; } }

@media only screen and (min-width: 900px) { main .part#about .card .container { height: 60vh; width: auto; } }

@media only screen and (min-width: 1200px) { main .part#about .card .container { height: 60vh; width: auto; } }

main .part#about .card .container img { display: block; -webkit-transition: 400ms ease-in-out; transition: 400ms ease-in-out; }

@media only screen and (max-width: 599px) { main .part#about .card .container img { height: auto; width: 100%; } }

@media only screen and (min-width: 600px) { main .part#about .card .container img { height: auto; width: 100%; } }

@media only screen and (min-width: 900px) { main .part#about .card .container img { height: 100%; width: auto; } }

@media only screen and (min-width: 1200px) { main .part#about .card .container img { height: 100%; width: auto; } }

main .part#about .card .text { -webkit-user-select: text; -moz-user-select: text; -ms-user-select: text; user-select: text; }

@media only screen and (max-width: 599px) { main .part#about .card .text { margin-top: 1.25vw; width: 100%; } }

@media only screen and (min-width: 600px) { main .part#about .card .text { margin-top: 1.25vw; width: 100%; } }

@media only screen and (min-width: 900px) { main .part#about .card .text { margin-top: 0; width: auto; } }

@media only screen and (min-width: 1200px) { main .part#about .card .text { margin-top: 0; width: auto; } }

main .part#about .card .text h2 { font-size: 2rem; margin: 0.625vw 0; }

main .part#about .card .text .tagline { font-size: 1.2rem; }

main .part#experience .card .text .head { cursor: pointer; }

main .part#experience .card .text .head .tag { margin-right: 40%; width: 40%; }

main .part#experience .card .text .head .tag h3 { font-size: 1.75rem; margin-bottom: 0.625vw; }

main .part#experience .card .text .head .tag p { color: #616161; }

main .part#experience .card .text .head .box { width: 20%; }

main .part#experience .card .text .head .box .date { position: relative; }

main .part#experience .card .text .head .box .date span { color: #b2ebf2; margin: 0 0.41667vw; }

main .part#experience .card .text .head .box .date .tooltip { width: 100%; }

main .part#experience .card .text .collapse { display: none; }

main .part#experience .card .text .collapse p { -webkit-user-select: text; -moz-user-select: text; -ms-user-select: text; user-select: text; }

main .part#experience .card .text .collapse .number { color: #ff6e40; }

main .part#skills .card .text .head { cursor: pointer; }

main .part#skills .card .text .head .tag { margin-right: auto; overflow: hidden; width: 35%; }

main .part#skills .card .text .head .tag h3 { font-size: 1.75rem; }

main .part#skills .card .text .head .box { width: 60%; }

main .part#skills .card .text .head .box progress { width: 100%; }

main .part#skills .card .text .collapse { display: none; }

main .part#skills .card .text .collapse .box { align-items: stretch; }

main .part#skills .card .text .collapse .box .description { margin-right: auto; user-select: text; width: 40%; }

main .part#skills .card .text .collapse .box .progress { width: 55%; }

main .part#skills .card .text .collapse .box .progress .container { height: 100%; width: 100%; }

main .part#skills .card .text .collapse .box .progress .container div { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; width: 100%; }

main .part#skills .card .text .collapse .box .progress .container div p { text-align: center; }

main .part#skills .card .text .collapse .box .progress .container div progress { margin: 0.3125vw 0; width: 100%; }

main .part#portfolio .sort { margin: 0 auto; text-align: center; width: 25%; }

main .part#portfolio .sort a { color: #757575; display: block; margin: 5%; position: relative; text-decoration: none; text-transform: uppercase; }

main .part#portfolio .sort a .material-icons { display: inline-block; position: absolute; transform: translateX(-150%); vertical-align: middle; }

main .part#portfolio .sort a span { vertical-align: middle; }

main .part#portfolio .sort a .tooltip { -webkit-transform: translate(-25%, -110%); transform: translate(-25%, -110%); }

main .part#portfolio .content .page { margin: 2.5vw; width: 100%; }

@media only screen and (max-width: 599px) { main .part#portfolio .content .page .container { width: 100%; } }

@media only screen and (min-width: 600px) { main .part#portfolio .content .page .container { width: 100%; } }

@media only screen and (min-width: 900px) { main .part#portfolio .content .page .container { width: calc(100% / 2); } }

@media only screen and (min-width: 1200px) { main .part#portfolio .content .page .container { width: calc(100% / 3); } }

main .part#portfolio .content .page .container .preview { height: 100%; position: relative; transition: 400ms ease-in-out; width: 100%; z-index: 30; }

main .part#portfolio .content .page .container .preview:hover { box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.2); z-index: 40; }

main .part#portfolio .content .page .container .preview img { display: block; width: 100%; }

main .part#portfolio .content .page .container .preview span { height: 100%; left: 0; position: absolute; top: 0; -webkit-transition: 400ms ease-in-out; transition: 400ms ease-in-out; width: 100%; }

main .part#portfolio .content .page .container .preview span:hover { background-color: rgba(0, 0, 0, 0.25); }

main .part#portfolio .content .page .container .preview span .tags { color: #fff; margin: auto; opacity: 0; text-align: center; }

main .part#portfolio .content .page .container .preview span .tags h3 { font-size: 1.5rem; }

main .part#portfolio .content .page .container .preview span .tags p { font-size: .85rem; }

main .part#portfolio .select { margin: 0 40%; text-align: center; width: 20%; }

main .part#portfolio .select p { color: #757575; display: inline; text-transform: uppercase; }

main .part#portfolio .select button { position: relative; }

main .part#portfolio .select button.backward { float: left; }

main .part#portfolio .select button.forward { float: right; }

main .part#contact { margin-bottom: 45vh; }

main .part#contact .content .card { height: 45vh; }

@media only screen and (max-width: 599px) { main .part#contact .content .card:nth-child(1) { width: 100%; } }

@media only screen and (min-width: 600px) { main .part#contact .content .card:nth-child(1) { width: 100%; } }

@media only screen and (min-width: 900px) { main .part#contact .content .card:nth-child(1) { margin-right: 2.5%; min-width: 30%; } }

@media only screen and (min-width: 1200px) { main .part#contact .content .card:nth-child(1) { margin-right: 2.5%; min-width: 30%; } }

main .part#contact .content .card:nth-child(1) .container { height: 38.25vh; }

main .part#contact .content .card:nth-child(1) .container .text { height: 100%; width: 100%; }

main .part#contact .content .card:nth-child(1) .container .text ul { height: 100%; margin: 0; width: 100%; }

main .part#contact .content .card:nth-child(1) .container .text ul li { flex-grow: 1; list-style: none; text-align: left; width: 100%; }

main .part#contact .content .card:nth-child(1) .container .text ul li .box .icon { cursor: default; height: 4vh; margin: 1vh 4vh 1vh 0; width: 4vh; }

main .part#contact .content .card:nth-child(1) .container .text ul li .box .icon .material-icons { font-size: 2vh; margin: 1vh; }

main .part#contact .content .card:nth-child(1) .container .text ul li .box div p { -webkit-user-select: text; -moz-user-select: text; -ms-user-select: text; user-select: text; }

main .part#contact .content .card:nth-child(1) .container .map { display: none; height: 100%; width: 100%; }

main .part#contact .content .card:nth-child(1) .container .map iframe { height: 100%; width: 100%; }

main .part#contact .content .card:nth-child(1) button { box-shadow: none; height: 6.75vh; width: 100%; }

main .part#contact .content .card:nth-child(1) button:hover, main .part#contact .content .card:nth-child(1) button:focus { -webkit-box-shadow: none; box-shadow: none; }

@media only screen and (max-width: 599px) { main .part#contact .content .card:nth-child(2) { width: 100%; } }

@media only screen and (min-width: 600px) { main .part#contact .content .card:nth-child(2) { width: 100%; } }

@media only screen and (min-width: 900px) { main .part#contact .content .card:nth-child(2) { margin-left: 2.5%; min-width: 65%; } }

@media only screen and (min-width: 1200px) { main .part#contact .content .card:nth-child(2) { margin-left: 2.5%; min-width: 65%; } }

main .part#contact .content .card:nth-child(2) .text { height: 100%; width: 100%; }

main .part#contact .content .card:nth-child(2) .text fieldset { border: 0; height: 100%; padding: 0; width: 100%; }

main .part#contact .content .card:nth-child(2) .text fieldset [type='text'] { flex-grow: 1; margin-bottom: 0.5rem; padding-bottom: 1rem; padding-top: 1.5rem; }

main .part#contact .content .card:nth-child(2) .text fieldset input[type='text'] { max-height: 2rem; }

main .part#contact .content .card:nth-child(2) .text fieldset textarea { font-family: inherit; resize: none; }

main .part#contact .content .card:nth-child(2) .text .end { margin-top: 1rem; }

@media only screen and (max-width: 599px) { main .part#contact .content .card:nth-child(2) .text .end input[type='submit'] { margin: 0 15%; width: 70%; } }

@media only screen and (min-width: 600px) { main .part#contact .content .card:nth-child(2) .text .end input[type='submit'] { margin: 0 15%; width: 70%; } }

@media only screen and (min-width: 900px) { main .part#contact .content .card:nth-child(2) .text .end input[type='submit'] { margin: 0; width: 40%; } }

@media only screen and (min-width: 1200px) { main .part#contact .content .card:nth-child(2) .text .end input[type='submit'] { margin: 0; width: 40%; } }

main .part#contact .content .card:nth-child(2) .text .end .box .error { color: #ff9e80; display: none; width: 100%; }

@media only screen and (max-width: 599px) { main .part#contact .content .card:nth-child(2) .text .end .box .error { margin-top: 1rem; margin-left: 0; text-align: center; } }

@media only screen and (min-width: 600px) { main .part#contact .content .card:nth-child(2) .text .end .box .error { margin-top: 1rem; margin-left: 0; text-align: center; } }

@media only screen and (min-width: 900px) { main .part#contact .content .card:nth-child(2) .text .end .box .error { margin-top: 0; margin-left: 1rem; text-align: left; } }

@media only screen and (min-width: 1200px) { main .part#contact .content .card:nth-child(2) .text .end .box .error { margin-top: 0; margin-left: 1rem; text-align: left; } }
