// Main stylesheet for screen

// TODO Make layout more responsive
// TODO fix alignment issues in [navbar, about, contact]
// TODO fix nav hiding
// TODO Fix touch callout
// TODO Style project page
// TODO Make work cross-browser

// Global variables and functions
@import 'storage/variables';

// Classes
@import 'storage/classes';

// Universal and global
@import 'storage/global';

// Top style
@import 'storage/top';

// Page general styles
main {
  // Local variables
  $margin: ($base-margin / 4); // The margin local to part
  $padding: ($base-margin / 5); // Padding local to part

  animation: slideUp $animation-long; // On load it slides in from the bottom with normal tranistion values
  margin: 0 $base-margin; // Main gets centered horizontally
  position: relative; // Z-index doesn't work on static elements
  width: (100vw - (2 * $base-margin));
  z-index: 20; // Above the header

  .part {
    @include media(phone-only) {
      margin: ($margin * 2) $margin;
    }
    @include media(tablet-portrait-up) {
      margin: ($margin * 2) $margin;
    }
    @include media(tablet-landscape-up) {
      margin: ($margin * 2);
    }
    @include media(desktop-up) {
      margin: ($margin * 2);
    }

    // Shared values for each part
    .card {
      @extend %card; // Card
      margin: $margin; // Distance between cards
      z-index: 30; // Above main

      .text {
        @include media(phone-only) {
          padding: ($padding * 1.5); // Will be like the padding for card but allows images to fill card
          text-align: center;
        }
        @include media(tablet-portrait-up) {
          padding: ($padding * 1.5); // Will be like the padding for card but allows images to fill card
          text-align: center;
        }
        @include media(tablet-landscape-up) {
          padding: $padding; // Will be like the padding for card but allows images to fill card
          text-align: left;
        }
        @include media(desktop-up) {
          padding: $padding; // Will be like the padding for card but allows images to fill card
          text-align: left;
        }

        overflow-x: hidden;
        overflow-y: auto; // User can scroll if content isn't visible


        hr {
          @include color(grey, 'background-color', 400);
          border-top-width: 1px;
          margin: ($margin / 1.5) 0 ($margin / 3); // One third of the card margin on the bottom and double that on the top
          width: 100%;
        }
      }
    }

    .title {
      @extend %header;
      font-size: 1.75rem; // Based on base font-size
      text-align: center; // Center horizontally
      text-transform: uppercase;
    }
  }

  // About part
  @import 'storage/about';

  // Experience part
  @import 'storage/experience';

  // Skills part
  @import 'storage/skills';

  // Portfolio part
  @import 'storage/portfolio';

  // Contact part
  @import 'storage/contact';


  // For project pages
  @import 'storage/project';
}
