// Stylesheet for printing

// Global variables and functions
@import 'storage/variables';

// Classes
@import 'storage/classes';

:root {
  font-size: 14px; // Base font size, all are based on this one via the rem unit
}

body {
  @include color(grey, 'color', 600); // Default color, applies mostly to text
  font-family: 'noto-sans', 'roboto', sans-serif; // Applies to everything
  font-size: 1rem; // Defaults to base font-size
}

.top {
  display: none;
}

a {
  @include show-attr(href);
  @include color(grey, 'color', 600);
  text-decoration: none;
}

.part {
  page-break-after: always; // All parts get printed on a new page

  .title {
    @extend %header;
    font-size: 1.75rem; // Based on base font-size
    text-align: center; // Center horizontally
    text-transform: uppercase;
  }

  .card {
    hr {
      display: none;
    }

    .since {
      @include show-attr(date);
    }

    .collapse {
      display: block;
    }
  }
}

#about {
  .container {
    width: 100%;

    img {
      display: block;
      height: auto; // Maintains aspect ratio
      width: 100%; // Fills media
    }
  }

  .text {
      width: 100%;

      h2 {
        @extend %header;
        font-size: 2rem; // Based on base font-size
      }

      .tagline {
        font-size: 1.2rem; // Based on base font-size
      }
  }
}

#experience {
  .card {
    &::after {
      @include color(grey, 'border-color', 400);
      border: 0; // No double borders
      border-top-width: 1px;
      width: 100%;
    }
  }
}

#skills {
  .card {

    .container {
      p {
        display: inline-block;
      }

      progress {
        width: 0;
        display: inline-block;

        &::after {
          content: attr(value)'/'attr(max);
        }
      }
    }

    &::after {
      @include color(grey, 'border-color', 400);
      border: 0; // No double borders
      border-top-width: 1px;
      width: 100%;
    }
  }
}

#contact {
  .card {
    &:nth-child(1) {
      .show,
      .map {
        display: none;
      }

      .text {

        li {
          list-style: none;
          text-align: left;

          .box {
            @extend %vertical;

            .icon {
              margin: 1rem 2rem;
            }

            div {
              display: inline-block;
            }
          }
        }
      }
    }

    &:nth-child(2) {
      display: none;
    }
  }
}

#portfolio {
  display: none;
}
