* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Rem unitbased on this size */
  font-size: 18px;

  /* Variables */
  --grey-200: #eeeeee;
}

body {
  font-family: sans-serif;
  background-color: var(--grey-200);
  /* Absolute will be positioned reltive to this element */
  position: relative;
}

:root, main, #screen, body {
  width: 100%;
  height: 100%;
}

#canvas {
  display: block;
}

#startButton {
  margin-top: 20px;
  line-height: 60px;
  font-weight: bold;
  padding: 0 40px;
  background: green;
  border: none;
  position: absolute;
  left: 0;
}
#startButton:hover {
  background: green;
}
