:root {

}

body {

}

#register {

}
#chat {
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  #users {
    background-color: lightgrey;
    width: 10vw;
    height: 100vh;
    overflow-y: scroll;

    ul li {
      cursor: pointer;

      &.other {

      }

      &.self {
        margin-bottom: 1rem;
        font-weight: bold;
        color: blue;
      }

      &.selected {
        color: blue;
      }

      span {
        display: block;
      }

      .name {

      }

      .ID {
        &:before {
          content: '#';
        }

        font-size: 0.75rem;
      }

      .country {

      }

      .age {

      }
    }
  }

  #message {
    width: 90vw;
    height: 100vh;
    overflow-y: scroll;
  }
}
