// Variables
$primary-100: #c5cae9;
$primary-300: #7986cb;
$primary-400: #5c6bc0;
$primary-500: #3f51b5;
$secondary-A100: #ff80ab;
$secondary-A200: #ff4081;
$secondary-A400: #f50057;
$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eeeeee;
$grey-400: #757575;
$grey-600: #bdbdbd;
$grey-700: #616161;
$grey-800: #424242;

$time: 400ms;
$animation: $time ease-in-out;
$margin: 5vw;
$padding: $margin / 2;

@-webkit-keyframes slideDown {
  from {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes slideSide {
  from {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideSide {
  from {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
  }

  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
  }

  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }

    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }

    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}

@-webkit-keyframes ripple {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(2);
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes ripple {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(2);
    opacity: 0;
    transform: scale(2);
  }
}

// Mixin
@mixin shadow($x, $blur, $option: '') {
  // Edited from values at https://codepen.io/sdthornton/pen/wBZdXq
  box-shadow: 0 #{$x}px #{$blur}px rgba(0, 0, 0, .1) #{$option},
  0 #{ceil($x / 1.4)}px #{ceil($blur / 1.4)}px rgba(0, 0, 0, .2) #{$option};
}

@mixin media($size) {
  @if $size == phone-only {
    @media only screen and (max-width: 599px) { @content; }
  }
  @else if $size == tablet-portrait-up {
    @media only screen and (min-width: 600px) { @content; }
  }
  @else if $size == tablet-landscape-up {
    @media only screen and (min-width: 900px) { @content; }
  }
  @else if $size == desktop-up {
    @media only screen and (min-width: 1200px) { @content; }
  }
  @else if $size == big-desktop-up {
    @media only screen and (min-width: 1800px) { @content; }
  }
  @else {
    @error 'Invalid argument';
  }
}

// Classes
%card {
  @include shadow(1, 3);
  background-color: #fff;
  -webkit-transition: $animation;
  transition: $animation;

  &:hover {
    @include shadow(14, 28)
  }
}

%click {
  cursor: pointer; // Can be clicked

  &:disabled {
    cursor: default; // Can't be clicked
  }

  &:focus,
  &:active {
    outline: none;
  }
}

%form {
  @extend %click;
  background-color: transparent; // Hides default background
  border: 0 solid transparent; // Hides border
  transition: $animation;
}

%input {
  @extend %form; // Part of a form
  border-color: $grey-400;
  border-bottom-width: 1px;
  overflow: hidden;
  position: relative;
  width: 100%; // Of the card

  &::-webkit-input-placeholder {
    -webkit-transition: $animation;
    transition: $animation;
    color: $grey-800;
  }

  &:focus {
    border-bottom-color: $secondary-A200;

    // Found the way to style this at https://codepen.io/mildrenben/pen/gbddEj
    &::-webkit-input-placeholder {
      color: $secondary-A200;
      -webkit-transform: translateY(-150%);
      font-size: .75rem;
      transform: translateY(-150%); // Slightly above the input
    }
  }
}

%button {
  @extend %form; // Is a type of form
  @include shadow(2, 4);
  text-align: center; // Center horizontally

  &:hover,
  &:focus {
    @include shadow(8, 22)
  }
}

%normal {
  @extend %button; // Is a button
  background-color: $primary-500;
  color: #fff;
  padding: 0.75rem;
  text-transform: uppercase;
}

%round {
  @extend %button; // Is a button
  background-color: $secondary-A200;
  border-radius: 100%; // Round
}

// Main
@import url('https://fonts.googleapis.com/css?family=Roboto');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  @include media(phone-only) {
    font-size: 20px;
  }
  @include media(tablet-portrait-up) {
    font-size: 19px;
  }
  @include media(tablet-landscape-up) {
    font-size: 18px;
  }
  @include media(desktop-up) {
    font-size: 16px;
  }
}

::selection {
  background: $secondary-A200;
  color: #fff;
}

::-webkit-scrollbar {
  display: none;
}

body {
  color: $grey-800;
  font-size: 1rem;
  background-color: $grey-200;
  font-family: 'Roboto', sans-serif;
}

[data-tooltip=true] { // Attribute
  position: relative; // For absolute
  display: inline-block;

  .tooltip {
    @include shadow(2, 4);
    transition: $time;
    background-color: $grey-800;
    border-color: $grey-800;
    border-width: 1px;
    color: #fff;
    opacity: 0; // Default state
    font-size: 0.75rem;
    padding: 0.5rem;
    position: absolute;
    text-align: center;
    text-transform: uppercase;

    // Got this from http://ilikepixels.co.uk/drop/bubbler/
    &::after {
      border-color: $grey-800 transparent;
      border-style: solid;
      content: '';
      display: block;
      left: 50%;

      margin-left: -0.75rem; // Centered
      position: absolute;
      width: 0;
    }

    &.up {
      top: 0;

      &::after {
        border-width: 0.75rem 0.75rem 0;
        bottom: -0.75rem;
      }
    }

    &.down {
      bottom: 0;

      &::after {
        border-width: 0 0.75rem 0.75rem;
        top: -0.75rem;
      }
    }
  }
}

[data-ripple=true] { // Attribute
  overflow: hidden;
  position: relative;

  &[data-shade=light] {
    .ripple {
      background: rgba(255, 255, 255, .4);
    }
  }
  &[data-shade=dark] {
    .ripple {
      background: rgba(0, 0, 0, .1);
    }
  }

  // Ripple effect
  .effect {
    -webkit-animation: ripple $animation;
    animation: ripple $animation;
  }

  .ripple {

    opacity: 0;
    border-radius: 50%;
    height: 0;
    position: absolute;
    width: 0;
  }
}

.loader {
  display: inline-block;
  border: 0.5rem solid $secondary-A100;
  border-top: 0.5rem solid $secondary-A200;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: $time * 2;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#register {
  background-color: $primary-500;
  height: 100vh;
  width: 100vw;

  @include media(phone-only) {
    padding: 5vh 10vw;
  }
  @include media(tablet-portrait-up) {
    padding: 5vh 10vw;
  }
  @include media(tablet-landscape-up) {
    padding: 25vh 25vw;
  }
  @include media(desktop-up) {
    padding: 25vh 25vw;
  }

  .container {
    @extend %card;
    border-radius: 0.25rem;
    animation-name: slideUp;
    animation-duration: $time;
    animation-timing-function: ease-in-out;

    @include media(phone-only) {
      width: 80vw;
      height: 90vh;
      padding: $padding * 2;
    }
    @include media(tablet-portrait-up) {
      width: 80vw;
      height: 90vh;
      padding: $padding * 1.5;
    }
    @include media(tablet-landscape-up) {
      width: 50vw;
      height: 50vh;
      padding: $padding;
    }
    @include media(desktop-up) {
      width: 50vw;
      height: 50vh;
      padding: $padding;
    }


    #input {
      position: relative; // For the absolute pos

      h2 {
        font-size: 2rem;
      }

      img {
        height: 3.5rem;
        width: 3.5rem;
        position: absolute;
        top: 0;
        right: 0;
      }

      .field {
        @extend %input;
        margin-bottom: 1rem;
        padding: 2rem 0 1rem 0
      }

      .bottom {
        display: flex;

        .loader {
          display: none;
          height: 2.5rem;
          width: 2.5rem;
        }

        .tooltip {
          width: 150%;
          $tr: -100% / 6;
          transform: translateX($tr) translateY(125%); // Above the selected
        }

        [type=submit] {
          @extend %normal;
          margin-right: 1rem;
        }
      }
    }
  }
}

#chat {
  display: none;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  overflow: hidden;

  @include media(phone-only) {
    flex-direction: column;
  }
  @include media(tablet-portrait-up) {
    flex-direction: column;
  }
  @include media(tablet-landscape-up) {
    flex-direction: row;
  }
  @include media(desktop-up) {
    flex-direction: row;
  }

  #users {
    @include shadow(2, 10);
    animation-name: slideSide;
    animation-duration: $time;
    animation-timing-function: ease-in-out;
    background-color: $grey-50;
    display: inline-block;
    overflow-y: scroll;
    padding: 0.5rem;
    position: relative;
    z-index: 100;

    @include media(phone-only) {
      width: 100vw;
      height: 5rem;
    }
    @include media(tablet-portrait-up) {
      width: 100vw;
      height: 5rem;
    }
    @include media(tablet-landscape-up) {
      width: 15vw;
      height: 100vh;
    }
    @include media(desktop-up) {
      width: 15vw;
      height: 100vh;
    }

    ul {
      list-style-type: none;

      li {
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
        position: relative; // For the absolute pos
        background-color: $grey-100;

        &.other {
          cursor: pointer;
        }

        &.self {
          font-weight: bold;
          margin-bottom: 2rem;
          color: $primary-500;
          cursor: default;

          img {
            position: absolute;
            height: 2.5rem;
            width: 2.5rem;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        &.selected {
          color: $secondary-A200;
        }

        span {
          display: block;
          font-size: 0.75rem;
        }

        .tag {
          display: inline-block;
          margin-left: 1rem;
          background-color: $secondary-A200;
          color: #fff;
          padding: 0.125rem 0.5rem; // Will have a total height of 1rem
          border-radius: 1rem;
        }

        .name {
          font-size: 1rem; // Bigger
          display: inline-block;
        }

        .ID {
          &:before {
            content: '#';
          }
        }

        .country {

        }

        .age {
          &:after {
            content: ' years old';
          }
        }
      }

      .unread {
        @extend %round;
        color: #fff;
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        vertical-align: middle;
        line-height: 1.5rem;
        box-shadow: 0px 0px 0px transparent; // Overwrite button class

        &:hover {
          box-shadow: 0px 0px 0px transparent; // Overwrite button class
        }
      }
    }
  }

  #message {
    display: none; // Start state
    position: relative;
    z-index: 50;
    height: auto;
    align-self: flex-end;

    @include media(phone-only) {
      width: 100vw;
    }
    @include media(tablet-portrait-up) {
      width: 100vw;
    }
    @include media(tablet-landscape-up) {
      width: 85vw;
    }
    @include media(desktop-up) {
      width: 85vw;
    }

    #messages {
      animation-name: slideDown;
      animation-duration: $time;
      animation-timing-function: ease-in-out;
      width: 100%;
      height: 90%;
      overflow-y: scroll;

      .chat {
        @extend %card;
        border-radius: 0.5rem;
        margin: 1rem;
        padding: 1rem;
        font-size: 1.25rem;

        .text {
          white-space: pre-wrap; // Display line breaks
          overflow-wrap: break-word; // Long lines
        }

        span {
          font-size: 0.75rem;

          @include media(phone-only) {
            display: block;
          }
          @include media(tablet-portrait-up) {
            display: block;
          }
          @include media(tablet-landscape-up) {
            display: inline-block;
          }
          @include media(desktop-up) {
            display: inline-block;
          }

          &:first-child {
            margin-top: 1.5rem;
          }

          &:last-child {
            @include media(phone-only) {
              margin-top: 0rem;
            }
            @include media(tablet-portrait-up) {
              margin-top: 0rem;
            }
            @include media(tablet-landscape-up) {
              margin-top: 1.5rem;
            }
            @include media(desktop-up) {
              margin-top: 1.5rem;
            }
          }
        }

        .date {
          padding: 0.25rem 0;
          color: $grey-600;
          white-space: pre; // Space between date and time
          margin-right: 1rem;
        }

        .sender {
          background-color: $primary-300;
          color: #fff;
          padding: 0.25rem 0.5rem;
          border-radius: 1rem;
        }
      }

      .self {
        margin-right: 60%;

      }

      .other {
        margin-left: 60%;
      }
    }

    #send {
      @include shadow(-4, 10);
      animation-name: slideUp;
      animation-duration: $time;
      animation-timing-function: ease-in-out;
      width: 100%;
      height: 10vh;

      #text {
        width: 100%;
        height: 100%;
        display: flex;

        .container {
          background-color: $primary-500;
          width: 90vw;
          max-height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          textarea {
            @extend %form;
            font-family: 'roboto', sans-serif;
            background-color: $primary-400;
            font-size: 1rem;
            color: #fff;
            height: 80%;
            width: 95%;
            padding: 0.5rem;
            display: inline-block;
            resize: none; // Not resizable

            &::-webkit-input-placeholder {
              color: $primary-100;
            }
          }
        }

        .box {
          position: relative; // For z-index
          z-index: 55;
          background-color: $primary-500;
          width: 10vw;
          height: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;

          .tooltip {
            -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
          }

          .loader {
            position: absolute;
            display: none; // Default state
            top: 0;
            left: 0;
            height: 5vh;
            width: 5vh;
          }

          [type=submit] {
            @extend %round;
            width: 5vh;
            height: 5vh;
          }
        }
      }
    }
  }
}
