@import url("https://fonts.googleapis.com/css?family=Roboto");
@-webkit-keyframes slideDown {
  from {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes slideDown {
  from {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes slideSide {
  from {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes slideSide {
  from {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes slideUp {
  from {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes ripple {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  to {
    -webkit-transform: scale(2);
    opacity: 0;
    transform: scale(2); } }

@keyframes ripple {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  to {
    -webkit-transform: scale(2);
    opacity: 0;
    transform: scale(2); } }

#register .container, #chat #message #messages .chat {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) , 0 1px 3px rgba(0, 0, 0, 0.2) ;
  background-color: #fff;
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out; }
  #register .container:hover, #chat #message #messages .chat:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1) , 0 10px 20px rgba(0, 0, 0, 0.2) ; }

#register .container #input .field, #register .container #input .bottom [type=submit], #chat #users ul .unread, #chat #message #send #text .box [type=submit], #chat #message #send #text .container textarea {
  cursor: pointer; }
  #register .container #input .field:disabled, #register .container #input .bottom [type=submit]:disabled, #chat #users ul .unread:disabled, #chat #message #send #text .box [type=submit]:disabled, #chat #message #send #text .container textarea:disabled {
    cursor: default; }
  #register .container #input .field:focus, #register .container #input .bottom [type=submit]:focus, #chat #users ul .unread:focus, #chat #message #send #text .box [type=submit]:focus, #chat #message #send #text .container textarea:focus, #register .container #input .field:active, #register .container #input .bottom [type=submit]:active, #chat #users ul .unread:active, #chat #message #send #text .box [type=submit]:active, #chat #message #send #text .container textarea:active {
    outline: none; }

#register .container #input .field, #register .container #input .bottom [type=submit], #chat #users ul .unread, #chat #message #send #text .box [type=submit], #chat #message #send #text .container textarea {
  background-color: transparent;
  border: 0 solid transparent;
  transition: 400ms ease-in-out; }

#register .container #input .field {
  border-color: #757575;
  border-bottom-width: 1px;
  overflow: hidden;
  position: relative;
  width: 100%; }
  #register .container #input .field::-webkit-input-placeholder {
    -webkit-transition: 400ms ease-in-out;
    transition: 400ms ease-in-out;
    color: #424242; }
  #register .container #input .field:focus {
    border-bottom-color: #ff4081; }
    #register .container #input .field:focus::-webkit-input-placeholder {
      color: #ff4081;
      -webkit-transform: translateY(-150%);
      font-size: .75rem;
      transform: translateY(-150%); }

#register .container #input .bottom [type=submit], #chat #users ul .unread, #chat #message #send #text .box [type=submit] {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) , 0 2px 3px rgba(0, 0, 0, 0.2) ;
  text-align: center; }
  #register .container #input .bottom [type=submit]:hover, #chat #users ul .unread:hover, #chat #message #send #text .box [type=submit]:hover, #register .container #input .bottom [type=submit]:focus, #chat #users ul .unread:focus, #chat #message #send #text .box [type=submit]:focus {
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1) , 0 6px 16px rgba(0, 0, 0, 0.2) ; }

#register .container #input .bottom [type=submit] {
  background-color: #3f51b5;
  color: #fff;
  padding: 0.75rem;
  text-transform: uppercase; }

#chat #users ul .unread, #chat #message #send #text .box [type=submit] {
  background-color: #ff4081;
  border-radius: 100%; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

@media only screen and (max-width: 599px) {
  :root {
    font-size: 20px; } }

@media only screen and (min-width: 600px) {
  :root {
    font-size: 19px; } }

@media only screen and (min-width: 900px) {
  :root {
    font-size: 18px; } }

@media only screen and (min-width: 1200px) {
  :root {
    font-size: 16px; } }

::selection {
  background: #ff4081;
  color: #fff; }

::-webkit-scrollbar {
  display: none; }

body {
  color: #424242;
  font-size: 1rem;
  background-color: #eeeeee;
  font-family: 'Roboto', sans-serif; }

[data-tooltip=true] {
  position: relative;
  display: inline-block; }
  [data-tooltip=true] .tooltip {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) , 0 2px 3px rgba(0, 0, 0, 0.2) ;
    transition: 400ms;
    background-color: #424242;
    border-color: #424242;
    border-width: 1px;
    color: #fff;
    opacity: 0;
    font-size: 0.75rem;
    padding: 0.5rem;
    position: absolute;
    text-align: center;
    text-transform: uppercase; }
    [data-tooltip=true] .tooltip::after {
      border-color: #424242 transparent;
      border-style: solid;
      content: '';
      display: block;
      left: 50%;
      margin-left: -0.75rem;
      position: absolute;
      width: 0; }
    [data-tooltip=true] .tooltip.up {
      top: 0; }
      [data-tooltip=true] .tooltip.up::after {
        border-width: 0.75rem 0.75rem 0;
        bottom: -0.75rem; }
    [data-tooltip=true] .tooltip.down {
      bottom: 0; }
      [data-tooltip=true] .tooltip.down::after {
        border-width: 0 0.75rem 0.75rem;
        top: -0.75rem; }

[data-ripple=true] {
  overflow: hidden;
  position: relative; }
  [data-ripple=true][data-shade=light] .ripple {
    background: rgba(255, 255, 255, 0.4); }
  [data-ripple=true][data-shade=dark] .ripple {
    background: rgba(0, 0, 0, 0.1); }
  [data-ripple=true] .effect {
    -webkit-animation: ripple 400ms ease-in-out;
    animation: ripple 400ms ease-in-out; }
  [data-ripple=true] .ripple {
    opacity: 0;
    border-radius: 50%;
    height: 0;
    position: absolute;
    width: 0; }

.loader {
  display: inline-block;
  border: 0.5rem solid #ff80ab;
  border-top: 0.5rem solid #ff4081;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

#register {
  background-color: #3f51b5;
  height: 100vh;
  width: 100vw; }
  @media only screen and (max-width: 599px) {
    #register {
      padding: 5vh 10vw; } }
  @media only screen and (min-width: 600px) {
    #register {
      padding: 5vh 10vw; } }
  @media only screen and (min-width: 900px) {
    #register {
      padding: 25vh 25vw; } }
  @media only screen and (min-width: 1200px) {
    #register {
      padding: 25vh 25vw; } }
  #register .container {
    border-radius: 0.25rem;
    animation-name: slideUp;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out; }
    @media only screen and (max-width: 599px) {
      #register .container {
        width: 80vw;
        height: 90vh;
        padding: 5vw; } }
    @media only screen and (min-width: 600px) {
      #register .container {
        width: 80vw;
        height: 90vh;
        padding: 3.75vw; } }
    @media only screen and (min-width: 900px) {
      #register .container {
        width: 50vw;
        height: 50vh;
        padding: 2.5vw; } }
    @media only screen and (min-width: 1200px) {
      #register .container {
        width: 50vw;
        height: 50vh;
        padding: 2.5vw; } }
    #register .container #input {
      position: relative; }
      #register .container #input h2 {
        font-size: 2rem; }
      #register .container #input img {
        height: 3.5rem;
        width: 3.5rem;
        position: absolute;
        top: 0;
        right: 0; }
      #register .container #input .field {
        margin-bottom: 1rem;
        padding: 2rem 0 1rem 0; }
      #register .container #input .bottom {
        display: flex; }
        #register .container #input .bottom .loader {
          display: none;
          height: 2.5rem;
          width: 2.5rem; }
        #register .container #input .bottom .tooltip {
          width: 150%;
          transform: translateX(-16.66667%) translateY(125%); }
        #register .container #input .bottom [type=submit] {
          margin-right: 1rem; }

#chat {
  display: none;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  overflow: hidden; }
  @media only screen and (max-width: 599px) {
    #chat {
      flex-direction: column; } }
  @media only screen and (min-width: 600px) {
    #chat {
      flex-direction: column; } }
  @media only screen and (min-width: 900px) {
    #chat {
      flex-direction: row; } }
  @media only screen and (min-width: 1200px) {
    #chat {
      flex-direction: row; } }
  #chat #users {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) , 0 2px 8px rgba(0, 0, 0, 0.2) ;
    animation-name: slideSide;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
    background-color: #fafafa;
    display: inline-block;
    overflow-y: scroll;
    padding: 0.5rem;
    position: relative;
    z-index: 100; }
    @media only screen and (max-width: 599px) {
      #chat #users {
        width: 100vw;
        height: 5rem; } }
    @media only screen and (min-width: 600px) {
      #chat #users {
        width: 100vw;
        height: 5rem; } }
    @media only screen and (min-width: 900px) {
      #chat #users {
        width: 15vw;
        height: 100vh; } }
    @media only screen and (min-width: 1200px) {
      #chat #users {
        width: 15vw;
        height: 100vh; } }
    #chat #users ul {
      list-style-type: none; }
      #chat #users ul li {
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
        position: relative;
        background-color: #f5f5f5; }
        #chat #users ul li.other {
          cursor: pointer; }
        #chat #users ul li.self {
          font-weight: bold;
          margin-bottom: 2rem;
          color: #3f51b5;
          cursor: default; }
          #chat #users ul li.self img {
            position: absolute;
            height: 2.5rem;
            width: 2.5rem;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%); }
        #chat #users ul li.selected {
          color: #ff4081; }
        #chat #users ul li span {
          display: block;
          font-size: 0.75rem; }
        #chat #users ul li .tag {
          display: inline-block;
          margin-left: 1rem;
          background-color: #ff4081;
          color: #fff;
          padding: 0.125rem 0.5rem;
          border-radius: 1rem; }
        #chat #users ul li .name {
          font-size: 1rem;
          display: inline-block; }
        #chat #users ul li .ID:before {
          content: '#'; }
        #chat #users ul li .age:after {
          content: ' years old'; }
      #chat #users ul .unread {
        color: #fff;
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        vertical-align: middle;
        line-height: 1.5rem;
        box-shadow: 0px 0px 0px transparent; }
        #chat #users ul .unread:hover {
          box-shadow: 0px 0px 0px transparent; }
  #chat #message {
    display: none;
    position: relative;
    z-index: 50;
    height: auto;
    align-self: flex-end; }
    @media only screen and (max-width: 599px) {
      #chat #message {
        width: 100vw; } }
    @media only screen and (min-width: 600px) {
      #chat #message {
        width: 100vw; } }
    @media only screen and (min-width: 900px) {
      #chat #message {
        width: 85vw; } }
    @media only screen and (min-width: 1200px) {
      #chat #message {
        width: 85vw; } }
    #chat #message #messages {
      animation-name: slideDown;
      animation-duration: 400ms;
      animation-timing-function: ease-in-out;
      width: 100%;
      height: 90%;
      overflow-y: scroll; }
      #chat #message #messages .chat {
        border-radius: 0.5rem;
        margin: 1rem;
        padding: 1rem;
        font-size: 1.25rem; }
        #chat #message #messages .chat .text {
          white-space: pre-wrap;
          overflow-wrap: break-word; }
        #chat #message #messages .chat span {
          font-size: 0.75rem; }
          @media only screen and (max-width: 599px) {
            #chat #message #messages .chat span {
              display: block; } }
          @media only screen and (min-width: 600px) {
            #chat #message #messages .chat span {
              display: block; } }
          @media only screen and (min-width: 900px) {
            #chat #message #messages .chat span {
              display: inline-block; } }
          @media only screen and (min-width: 1200px) {
            #chat #message #messages .chat span {
              display: inline-block; } }
          #chat #message #messages .chat span:first-child {
            margin-top: 1.5rem; }
          @media only screen and (max-width: 599px) {
            #chat #message #messages .chat span:last-child {
              margin-top: 0rem; } }
          @media only screen and (min-width: 600px) {
            #chat #message #messages .chat span:last-child {
              margin-top: 0rem; } }
          @media only screen and (min-width: 900px) {
            #chat #message #messages .chat span:last-child {
              margin-top: 1.5rem; } }
          @media only screen and (min-width: 1200px) {
            #chat #message #messages .chat span:last-child {
              margin-top: 1.5rem; } }
        #chat #message #messages .chat .date {
          padding: 0.25rem 0;
          color: #bdbdbd;
          white-space: pre;
          margin-right: 1rem; }
        #chat #message #messages .chat .sender {
          background-color: #7986cb;
          color: #fff;
          padding: 0.25rem 0.5rem;
          border-radius: 1rem; }
      #chat #message #messages .self {
        margin-right: 60%; }
      #chat #message #messages .other {
        margin-left: 60%; }
    #chat #message #send {
      box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1) , 0 -2px 8px rgba(0, 0, 0, 0.2) ;
      animation-name: slideUp;
      animation-duration: 400ms;
      animation-timing-function: ease-in-out;
      width: 100%;
      height: 10vh; }
      #chat #message #send #text {
        width: 100%;
        height: 100%;
        display: flex; }
        #chat #message #send #text .container {
          background-color: #3f51b5;
          width: 90vw;
          max-height: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
          #chat #message #send #text .container textarea {
            font-family: 'roboto', sans-serif;
            background-color: #5c6bc0;
            font-size: 1rem;
            color: #fff;
            height: 80%;
            width: 95%;
            padding: 0.5rem;
            display: inline-block;
            resize: none; }
            #chat #message #send #text .container textarea::-webkit-input-placeholder {
              color: #c5cae9; }
        #chat #message #send #text .box {
          position: relative;
          z-index: 55;
          background-color: #3f51b5;
          width: 10vw;
          height: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          #chat #message #send #text .box .tooltip {
            -webkit-transform: translateY(-75%);
            transform: translateY(-75%); }
          #chat #message #send #text .box .loader {
            position: absolute;
            display: none;
            top: 0;
            left: 0;
            height: 5vh;
            width: 5vh; }
          #chat #message #send #text .box [type=submit] {
            width: 5vh;
            height: 5vh; }
