<div class="card">
	<div class="text">
		<div class="head">
			<div class="tag">
				<h3></h3>
				<p></p>
			</div>
			<div class="box">
				<div class="date">
						<span class="begin" date=""></span>
						<span>-</span>
						<span class="end" date=""></span>
						<div class="tooltip"></div>
				</div>
			</div>
		</div>
		<div class="collapse">
			<hr/>
			<p></p>
			<br/>
		</div>
	</div>
</div>
