<div class="card">
	<div class="text">
		<div class="head">
			<div class="tag">
				<h3></h3>
			</div>
			<div class="box" ><progress max="100" value="<?= $average; ?>"></progress></div>
		</div>
		<div class="collapse">
			<hr/>
			<div class="box">
				<div class="description">
					<p></p>
				</div>
				<div class="progress">
					<div class="container">
						<div>
							<p></p>
							<progress max="100" value="<?= $percentages[0]; ?>"></progress>
						</div>
						<div>
							<p></p>
							<progress max="100" value="<?= $percentages[1]; ?>"></progress>
						</div>
						<div>
							<p></p>
							<progress max="100" value="<?= $percentages[2]; ?>"></progress>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
