@import url('https://fonts.googleapis.com/css?family=Caesar+Dressing&display=swap');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Rem unitbased on this size */
  font-size: 18px;

  /* Variables */
  --grey-200: #eeeeee;
  --green: #006400;
  --light-green: #9ACD32;
  --light-brown: #DEE0C0;
}

body {
  font-family: sans-serif;
  background-color: var(--grey-200);
  /* Absolute will be positioned reltive to this element */
  position: relative;
}

:root, main, body, #screen, #begin {
  width: 100%;
  height: 100%;
}

#menu {
  position: absolute;
  z-index: 1;
}

#canvas {
  display: block;
}

#begin {
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 0;
  top: 0;
  display: flex;
  font-family: 'Caesar Dressing', arial;
  background-color: var(--grey-200);
  z-index: 3;
}

#title {
  transition: 400ms;
  font-family: inherit;
  font-size: 6.5rem;
  color: var(--green);
}

#start {
  transition: 400ms;
  width: 40%;
  height: 15%;
  font-size: 4rem;
  margin-top: 2rem;
  border-radius: 1rem;
  background-color: var(--green);
  color: var(--light-brown);
  border: none;
  font-family: inherit;
}
#start:hover {
  background: var(--light-green);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loading {
  border: 0.5rem solid var(--grey-200);
  border-top: 0.5rem solid var(--green);
  border-bottom: 0.5rem solid var(--green);
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  animation: spin 2.5s linear infinite;
  position: absolute;
  left: calc(50% - 4.5rem);
  top: calc(50% - 4.5rem);
  z-index: 2;
}
