@import url('https://fonts.googleapis.com/css?family=Caesar+Dressing&display=swap');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Rem unitbased on this size */
  font-size: 18px;

  /* Variables */
  --grey-200: #eeeeee;
  --grey-300: #e0e0e0;
  --green: #4caf50;
  --light-green: #8bc34a;
  --brown: #795548;
}

body {
  font-family: sans-serif;
  background-color: var(--grey-200);
  /* Absolute will be positioned reltive to this element */
  position: relative;
}

:root, main, body, #screen, #begin {
  width: 100%;
  height: 100%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 0;
}

button[type=button] {
  background-color: var(--light-green);
  border-radius: 50%;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

button:focus {
  outline: none;
}

#menu {
  position: absolute;
  z-index: 1;
  padding: 0.5rem;
}

#menu .items {
  height: 0; /* invisible */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu button {
  margin-bottom: 0.5rem;
}

#menu button .off {
  display: none;
}

#menu button[name=menu] {
  width: 3rem;
  height: 3rem;
}
#menu button[name=menu] img {
  width: 2rem;
  height: 2rem;
}

#canvas {
  display: block;
}

#begin {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 0;
  top: 0;
  font-family: 'Caesar Dressing', arial;
  background-color: var(--grey-200);
  z-index: 3;
}

#title {
  transition: 400ms;
  font-family: inherit;
  font-size: 6.5rem;
  color: var(--green);
}

#start {
  transition: 400ms;
  width: 40%;
  height: 15%;
  font-size: 4rem;
  margin-top: 2rem;
  border-radius: 1rem;
  background-color: var(--green);
  color: var(--light-green);
  border: none;
  font-family: inherit;
}
#start:hover {
  background: var(--light-green);
  color: var(--green);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100%;
  height: 100%;
}

#loading div {
  border: 0.5rem solid var(--grey-200);
  border-top: 0.5rem solid var(--green);
  border-bottom: 0.5rem solid var(--green);
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  animation: spin 2.5s linear infinite;
}

#overview {

}

#overview button[name=overview] {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 2rem;
  background-color: var(--brown);
  z-index: 1;
}

#overview .animals {
  position: absolute;
  z-index: 4;
  width: calc(100vw - 10rem);
  height: calc(100vh - 10rem);
  margin: 5rem;
  display: none;
  background-color: var(--grey-200);
  box-shadow: 0 19px 38px rgba(0,0,0,0.30);
}

#overview .animals div {
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

#overview .animals button {
  background-color: var(--grey-300);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 64px;
  height: 96px;
  margin: 0.5rem;
  padding: 0.5rem;
}

#overview .animals button img {
  margin-bottom: 8px;
}
