@import 'partials/global';
@import 'partials/variables';

#loading {
  align-items: center; // Horizontal center
  background-color: grey;
  display: flex; // Easier aligning of child elements
  height: 100vh;
  justify-content: center; // Vertical center of children
  width: 100vw;

  .circle {
    background-color: white;
    border-radius: 100%;
    height: 30vw;
    text-align: center;
    position: relative; // So z-index will apply
    width: 30vw;
    z-index: 100;

    img {
      height: 15%;
      margin-top: 20%;
    }

    .text {
      height: 45%;
      margin: 10% 0;
    }
  }

  .progress {
    height: 40vw;
    position: absolute;
    width: 40vw;
    z-index: 90;

    // From: https://css-tricks.com/how-to-make-charts-with-svg/ and https://www.w3schools.com/graphics/svg_circle.asp
    .chart {
      width: 100%;
      height: 100%;
      transform: rotate(-90deg);
      fill: green;
      border-radius: 50%;
    }

    .pie {
      transition: 0.4s;
      cx: 50%; // Centered in parent
      cy: 50%; // Centered in parent
      stroke: blue;
      stroke-width: 100%;
      stroke-dasharray: 0, (100% * 3.14); // Circumference of the circle
      r: 50%; // Fill parent
    }
  }
}

#start {
  display: none; // Will be changed via load.js
}

#home {
  display: none; // Will be changed via load.js
}
