* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

:root {
  font-size: 16px;
  width: 100%;
  height: 100%; }

body {
  font-family: 'Orbitron', sans-serif;
  font-size: 1rem;
  color: #424242;
  height: 100%;
  width: 100%;
  overflow: hidden; }

::selection {
  color: #fff;
  background: #00B8D4; }

::-webkit-scrollbar {
  display: none; }

body [data-tooltip]:hover .tooltip {
  display: block; }

body [data-tooltip] .tooltip {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 2px 3px rgba(0, 0, 0, 0.2);
  left: 50%;
  z-index: 200;
  position: absolute;
  padding: 0.75rem;
  background-color: #EEEEEE;
  border: 1px solid #EEEEEE;
  text-align: center;
  text-transform: uppercase;
  display: none; }
  body [data-tooltip] .tooltip::after {
    left: 50%;
    transform: translateX(-50%);
    content: '';
    position: absolute;
    border-width: 0.75rem;
    border-style: solid; }
  body [data-tooltip] .tooltip .shortcut {
    font-size: 0.75em;
    opacity: 0.75;
    margin: 0.5em;
    padding: 0.25em;
    background-color: #BDBDBD;
    display: block; }

body [data-tooltip='up'] .tooltip {
  transform: translateX(-50%) translateY(-100%);
  top: -0.375rem; }
  body [data-tooltip='up'] .tooltip::after {
    bottom: -1.5rem;
    border-color: #EEEEEE transparent transparent transparent; }

body [data-tooltip='down'] .tooltip {
  transform: translateX(-50%) translateY(100%);
  bottom: -0.375rem; }
  body [data-tooltip='down'] .tooltip::after {
    top: -1.5rem;
    border-color: transparent transparent #EEEEEE transparent; }

#loading .progress .pie {
  stroke-dasharray: 0, 314%;
  stroke-width: 100%;
  transition: 400ms;
  fill: transparent; }

#loading,
#start,
#home {
  align-items: center;
  display: flex;
  justify-content: center; }

#loading,
#start,
#home {
  height: 100%;
  position: absolute;
  width: 100vw; }

#start {
  background-color: #00897B; }

#loading {
  z-index: 80; }
  #loading .circle {
    background-color: #FAFAFA;
    border-radius: 100%;
    height: 30vw;
    position: relative;
    text-align: center;
    width: 30vw;
    z-index: 100; }
    #loading .circle img {
      height: 20%;
      margin-top: 20%; }
    #loading .circle .text {
      height: 40%;
      margin: 10% 0; }
      #loading .circle .text h1 {
        font-weight: normal;
        font-size: 2.75rem;
        color: #616161; }
      #loading .circle .text h4 {
        font-weight: normal;
        font-size: 1.5rem;
        color: #9E9E9E; }
  #loading .progress {
    height: 40vw;
    position: absolute;
    width: 40vw;
    z-index: 90; }
    #loading .progress .chart {
      border-radius: 50%;
      background-color: #26A69A;
      fill: #26A69A;
      height: 100%;
      transform: rotate(-90deg);
      width: 100%; }
    #loading .progress .pie {
      stroke: #009688; }

#start {
  z-index: 50; }
  #start .screen:first-child, #start .screen:last-child {
    display: none; }

#home {
  background-color: #EEEEEE;
  display: none;
  z-index: 0; }
