* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Orbitron', sans-serif;
  font-size: 1rem;
  pointer-events: none; }

#loading,
#start,
#home {
  align-items: center;
  display: flex;
  justify-content: center; }

#loading,
#start,
#home {
  height: 100vh;
  position: absolute;
  width: 100vw; }

#loading,
#start {
  background-color: green; }

#loading {
  z-index: 80; }
  #loading .circle {
    background-color: white;
    border-radius: 100%;
    height: 30vw;
    position: relative;
    text-align: center;
    width: 30vw;
    z-index: 100; }
    #loading .circle img {
      height: 15%;
      margin-top: 20%; }
    #loading .circle .text {
      height: 45%;
      margin: 10% 0; }
  #loading .progress {
    height: 40vw;
    position: absolute;
    width: 40vw;
    z-index: 90; }
    #loading .progress .chart {
      border-radius: 50%;
      fill: green;
      height: 100%;
      transform: rotate(-90deg);
      width: 100%; }
    #loading .progress .pie {
      r: 50%;
      cx: 50%;
      cy: 50%;
      stroke: blue;
      stroke-dasharray: 0, 314%;
      stroke-width: 50%;
      transition: 400ms; }

#start {
  z-index: 50; }
  #start .screen:first-child, #start .screen:last-child {
    display: none; }

#home {
  background-color: white;
  display: none;
  z-index: 0; }
