* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

:root {
  font-size: 16px; }

body {
  font-family: 'Orbitron', sans-serif;
  font-size: 1rem;
  color: #424242;
  height: 100%;
  width: 100%;
  overflow: hidden; }

::selection {
  color: #fff;
  background: #00B8D4; }

::-webkit-scrollbar {
  display: none; }

#loading,
#start,
#home {
  align-items: center;
  display: flex;
  justify-content: center; }

#loading,
#start,
#home {
  height: 100vh;
  position: absolute;
  width: 100vw; }

#start {
  background-color: #00897B; }

#loading {
  z-index: 80; }
  #loading .circle {
    background-color: #FAFAFA;
    border-radius: 100%;
    height: 30vw;
    position: relative;
    text-align: center;
    width: 30vw;
    z-index: 100; }
    #loading .circle img {
      height: 20%;
      margin-top: 20%; }
    #loading .circle .text {
      height: 40%;
      margin: 10% 0; }
      #loading .circle .text h1 {
        font-weight: normal;
        font-size: 2.75rem;
        color: #616161; }
      #loading .circle .text h4 {
        font-weight: normal;
        font-size: 1.5rem;
        color: #9E9E9E; }
  #loading .progress {
    height: 40vw;
    position: absolute;
    width: 40vw;
    z-index: 90; }
    #loading .progress .chart {
      border-radius: 50%;
      fill: #26A69A;
      height: 100%;
      transform: rotate(-90deg);
      width: 100%; }
    #loading .progress .pie {
      r: 50%;
      cx: 50%;
      cy: 50%;
      stroke: #009688;
      stroke-dasharray: 0, 314%;
      stroke-width: 50%;
      transition: 400ms; }

#start {
  z-index: 50; }
  #start .screen:first-child, #start .screen:last-child {
    display: none; }

#home {
  background-color: #EEEEEE;
  display: none;
  z-index: 0; }
