// This file is optimised for speed as it styles the loading page

// Import shared code
@import 'partials/global';
@import 'partials/variables';
@import 'partials/classes';
@import 'partials/mixins';

// TODO use colors and standard padding
// TODO create classes for shared values

#loading,
#start,
#home {
  align-items: center; // Horizontal center
  display: flex; // Easier aligning of child elements
  height: 100vh;
  justify-content: center; // Vertical center of children
  position: absolute; // Will have content below
  width: 100vw;
}

#loading {
  background-color: grey;
  z-index: 80; // Highest page

  .circle {
    background-color: white;
    border-radius: 100%;
    height: 30vw;
    position: relative; // Absolute will be relative to this parent
    text-align: center;
    width: 30vw;
    z-index: 100;

    img {
      height: 15%;
      margin-top: 20%;
    }

    .text {
      height: 45%;
      margin: 10% 0;
    }
  }

  .progress {
    height: 40vw;
    position: absolute;
    width: 40vw;
    z-index: 90;

    // From: https://css-tricks.com/how-to-make-charts-with-svg/ and https://www.w3schools.com/graphics/svg_circle.asp
    .chart {
      border-radius: 50%;
      fill: green;
      height: 100%;
      transform: rotate(-90deg);
      width: 100%;
    }

    .pie {
      cx: 50%; // Centered in parent
      cy: 50%; // Centered in parent
      r: 50%; // Fill parent
      stroke: blue;
      stroke-dasharray: 0, (100% * 3.14); // Circumference of the circle (Pi * diameter)
      stroke-width: 50%; // Fill itself
      transition: $time;
    }
  }
}

#start {
  background-color: purple;
  z-index: 50; // Middle page
}

#home {
  background-color: red;
  z-index: 0; // Lowest page
}
