// This file is optimised for speed as it styles the loading page

// Import shared code
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/global';
@import 'partials/classes';

// TODO use colors and standard padding
// TODO create classes for shared values
// TODO animations
// TODO responsive design

#loading,
#start,
#home {
  @extend %center-complete; // Center children on both axis
  height: 100%;
  position: absolute; // Z-index will apply
  width: 100vw;
}

#start {
  background-color: $primary-600;
}

#loading {
  z-index: 80; // Highest page

  .circle {
    background-color: $grey-50;
    border-radius: 100%;
    height: 30vw;
    position: relative; // Absolute will be relative to this parent
    text-align: center;
    width: 30vw;
    z-index: 100;

    img {
      height: 20%;
      margin-top: 20%;
    }

    .text {
      height: 40%;
      margin: 10% 0;

      h1 {
        font-weight: normal;
        font-size: 2.75rem;
        color: $grey-700;
      }

      h4 {
        font-weight: normal;
        font-size: 1.5rem;
        color: $grey-500;
      }
    }
  }

  .progress {
    height: 40vw;
    position: absolute;
    width: 40vw;
    z-index: 90;

    .chart {
      border-radius: 50%;
      background-color: $primary-400;
      fill: $primary-400; // Fallback
      height: 100%;
      transform: rotate(-90deg);
      width: 100%;
    }

    // From: https://css-tricks.com/how-to-make-charts-with-svg/ and https://www.w3schools.com/graphics/svg_circle.asp
    .pie {
      @extend %pie;
      stroke: $primary-500;
    }
  }
}

#start {
  z-index: 50; // Middle page

  .screen {
    &:first-child, &:last-child {
      display: none;
    }
  }
}

#home {
  background-color: $grey-200;
  display: none;
  z-index: 0; // Lowest page
}

#background {
  display: none;
}

#music {
  @extend %click;
  display: none;
  padding: $padding-standard / 4;
  margin: $padding-standard / 4;
  position: absolute;
  z-index: 95;
  bottom: 0;
  left: 0;
  background-color: $grey-200;


  a {
    text-decoration: none;
    color: inherit;

    img {
      height: 1rem;
      vertical-align: middle;
    }
  }
}
