#sidebar header, #sidebar .info #priority .status {
  align-items: center;
  display: flex;
  justify-content: center; }

#start .intro .screen:last-child .container {
  display: flex;
  justify-content: space-between; }

#start .intro .screen:last-child .container .fraction, #sidebar .info #bacteria .content div table.values .value .unit .fraction {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 0 5px; }
  #start .intro .screen:last-child .container .fraction .top, #sidebar .info #bacteria .content div table.values .value .unit .fraction .top, #start .intro .screen:last-child .container .fraction .bottom, #sidebar .info #bacteria .content div table.values .value .unit .fraction .bottom {
    padding: 0 5px; }
  #start .intro .screen:last-child .container .fraction .bottom, #sidebar .info #bacteria .content div table.values .value .unit .fraction .bottom {
    border-top: 1px solid #000;
    display: block; }

#start .intro .screen:last-child .container .slider {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 1rem; }

#start .intro .screen, #cards .card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 2px 3px rgba(0, 0, 0, 0.2);
  background-color: #FAFAFA;
  transition: 400ms ease-in-out; }
  #start .intro .screen:hover, #cards .card:hover {
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.1), 0px 10px 19px rgba(0, 0, 0, 0.2); }

#start .intro .screen:last-child .container .slider, #start .intro .screen .continue button, #menu .indicator button, #menu .items .item button, #sidebar .info #priority .restart button, #start .intro .screen:last-child .container .slider::-webkit-slider-thumb {
  cursor: pointer; }
  #start .intro .screen:last-child .container .slider:disabled, #start .intro .screen .continue button:disabled, #menu .indicator button:disabled, #menu .items .item button:disabled, #sidebar .info #priority .restart button:disabled, #start .intro .screen:last-child .container .slider:disabled::-webkit-slider-thumb {
    cursor: default; }
  #start .intro .screen:last-child .container .slider:focus, #start .intro .screen .continue button:focus, #menu .indicator button:focus, #menu .items .item button:focus, #sidebar .info #priority .restart button:focus, #start .intro .screen:last-child .container .slider:focus::-webkit-slider-thumb, #start .intro .screen:last-child .container .slider:active, #start .intro .screen .continue button:active, #menu .indicator button:active, #menu .items .item button:active, #sidebar .info #priority .restart button:active, #start .intro .screen:last-child .container .slider:active::-webkit-slider-thumb {
    outline: none; }

#start .intro .screen .continue button, #menu .indicator button, #menu .items .item button, #sidebar .info #priority .restart button, #start .intro .screen:last-child .container .slider::-webkit-slider-thumb {
  background-color: transparent;
  border: 0 solid transparent;
  transition: 400ms ease-in-out; }

#start .intro .screen .continue button, #menu .indicator button, #menu .items .item button, #sidebar .info #priority .restart button, #start .intro .screen:last-child .container .slider::-webkit-slider-thumb {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 2px 3px rgba(0, 0, 0, 0.2);
  text-align: center; }
  #start .intro .screen .continue button:hover, #menu .indicator button:hover, #menu .items .item button:hover, #sidebar .info #priority .restart button:hover, #start .intro .screen:last-child .container .slider:hover::-webkit-slider-thumb, #start .intro .screen .continue button:focus, #menu .indicator button:focus, #menu .items .item button:focus, #sidebar .info #priority .restart button:focus, #start .intro .screen:last-child .container .slider:focus::-webkit-slider-thumb {
    box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.1), 0px 6px 15px rgba(0, 0, 0, 0.2); }

#start .intro .screen .continue button, #menu .indicator button, #menu .items .item button, #sidebar .info #priority .restart button {
  background-color: #00BCD4;
  border-radius: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

:root {
  font-size: 16px; }

body {
  font-family: 'Orbitron', sans-serif;
  font-size: 1rem;
  color: #424242;
  height: 100%;
  width: 100%;
  overflow: hidden; }

::selection {
  color: #fff;
  background: #00B8D4; }

::-webkit-scrollbar {
  display: none; }

#start .intro {
  height: 40vw;
  position: relative;
  width: 40vw; }
  #start .intro .screen {
    height: 100%;
    position: absolute;
    width: 100%; }
    #start .intro .screen:first-child {
      z-index: 70; }
      #start .intro .screen:first-child p {
        line-height: initial; }
    #start .intro .screen:last-child {
      z-index: 60; }
      #start .intro .screen:last-child p {
        text-align: center;
        margin-top: 1.25rem;
        margin-bottom: 0.75rem; }
      #start .intro .screen:last-child .container {
        width: 100%; }
        #start .intro .screen:last-child .container .limit {
          color: #757575; }
        #start .intro .screen:last-child .container .slider {
          width: 65%;
          height: 2rem; }
          #start .intro .screen:last-child .container .slider[name=acidity] {
            background: #2196F3; }
          #start .intro .screen:last-child .container .slider[name=concentration] {
            background: #4CAF50; }
          #start .intro .screen:last-child .container .slider[name=temperature] {
            background: #F44336; }
          #start .intro .screen:last-child .container .slider[name=energy] {
            background: #FFC107; }
          #start .intro .screen:last-child .container .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            background: #EEEEEE; }
    #start .intro .screen .text {
      padding: 1.5rem; }
      #start .intro .screen .text h2 {
        text-align: center;
        font-weight: normal;
        font-size: 2rem;
        color: #616161; }
    #start .intro .screen .continue button {
      bottom: 10%;
      position: absolute;
      right: 0;
      transform: translateX(50%);
      width: 3rem;
      height: 3rem; }
      #start .intro .screen .continue button img {
        width: 2rem;
        margin: 0.5rem; }

#overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 100; }

#field {
  height: 100vh;
  position: relative;
  width: 80vw; }
  #field #screen {
    z-index: 10; }

#menu {
  margin: 1vw;
  display: flex;
  position: absolute;
  left: 0;
  top: 0; }
  #menu[data-state='collapse'] .items {
    display: block; }
    #menu[data-state='collapse'] .items .item {
      left: 0;
      position: absolute;
      top: 0;
      padding: 0.5rem; }
  #menu[data-state='expand'] .items {
    display: flex;
    margin-left: 0.5rem; }
    #menu[data-state='expand'] .items .item {
      position: relative;
      padding: 0.5rem 0.25rem; }
  #menu .indicator {
    position: relative;
    z-index: 90; }
    #menu .indicator button {
      width: 3rem;
      height: 3rem; }
      #menu .indicator button img {
        width: 2rem;
        margin: 0.5rem; }
  #menu .items .item {
    display: inline-block;
    z-index: 85; }
    #menu .items .item button {
      background-color: #EEEEEE;
      width: 2rem;
      height: 2rem; }
      #menu .items .item button img {
        width: 1rem;
        margin: 0.5rem; }

#cards {
  margin: 1vw;
  position: absolute;
  right: 0;
  top: 0;
  width: 20%; }
  #cards .card {
    padding: 0.75rem;
    height: auto;
    position: relative;
    width: 100%; }

#sidebar {
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.1), -2.66667px 0px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 20;
  background-color: #FAFAFA;
  height: 100vh;
  width: 20vw; }
  #sidebar header {
    background-color: #009688;
    height: 10%;
    width: 100%; }
    #sidebar header h1 {
      color: #fff;
      font-weight: normal;
      font-size: 2rem;
      margin-left: 1rem; }
    #sidebar header img {
      height: 50%;
      width: auto; }
  #sidebar .info {
    height: 90%;
    position: relative;
    text-align: center; }
    #sidebar .info h4 {
      font-weight: normal;
      font-size: 1.25rem; }
    #sidebar .info #priority {
      position: relative;
      height: 15%;
      width: 100%; }
      #sidebar .info #priority .status {
        margin: 1vw;
        height: 8vh;
        width: 100%; }
        #sidebar .info #priority .status .clock p {
          color: #616161;
          font-size: 2rem; }
        #sidebar .info #priority .status .chart {
          margin-left: 1.5rem;
          border-radius: 50%;
          height: 5vh;
          width: 5vh;
          background: #EEEEEE; }
      #sidebar .info #priority #scale {
        color: #616161; }
      #sidebar .info #priority .restart {
        display: none;
        left: 0;
        position: absolute;
        top: 25%; }
        #sidebar .info #priority .restart button {
          transform: translateX(-50%) translateY(-50%);
          width: 3rem;
          height: 3rem; }
          #sidebar .info #priority .restart button img {
            width: 2rem;
            margin: 0.5rem; }
    #sidebar .info #enviroment {
      margin: 1vw;
      height: 30%; }
      #sidebar .info #enviroment .text {
        height: 20%; }
      #sidebar .info #enviroment .content {
        display: flex;
        flex-direction: column;
        height: 80%;
        justify-content: space-between; }
        #sidebar .info #enviroment .content .data {
          width: 100%; }
          #sidebar .info #enviroment .content .data meter {
            display: block;
            width: 100%; }
    #sidebar .info #bacteria {
      margin: 1vw;
      height: 55%; }
      #sidebar .info #bacteria[data-content='true'] .empty {
        display: none; }
      #sidebar .info #bacteria[data-content='true'] .content {
        display: flex; }
      #sidebar .info #bacteria[data-content='false'] .empty {
        display: block; }
      #sidebar .info #bacteria[data-content='false'] .content {
        display: none; }
      #sidebar .info #bacteria .text {
        height: 10%; }
      #sidebar .info #bacteria .empty,
      #sidebar .info #bacteria .content {
        height: 90%; }
      #sidebar .info #bacteria .content {
        flex-wrap: wrap; }
        #sidebar .info #bacteria .content div {
          width: 100%; }
          #sidebar .info #bacteria .content div table {
            height: 100%;
            width: 100%; }
