// The main stylesheet for the site

// Import shared code
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/classes';
// @import 'partials/global';

#start {
  .intro {
    height: 40vw;
    position: relative; // Absolute will be relative to this parent
    width: 40vw;

    .screen {
      @extend %card;
      height: 100%;
      position: absolute;
      width: 100%;

      &:first-child {
        z-index: 70;

        p {
          line-height: initial; // Fixes normalize.css getting in my way
        }
      }

      &:last-child {
        z-index: 60;

        p {
          text-align: center;
          margin-top: 1.25rem;
          margin-bottom: 0.75rem;
        }

        .container {
          @extend %fill-row;
          width: 100%;
          position: relative;

          .limit {
            color: $grey-600;

            .value {
            }
          }

          .fraction {
            @extend %fraction;
          }

          .slider {
            @extend %bar;
            width: 65%; // Of the text
            height: 2rem;

            &[name=acidity] {
              background: $blue-500;
            }
            &[name=concentration] {
              background: $green-500;
            }
            &[name=temperature] {
              background: $red-500;
            }
            &[name=energy] {
              background: $amber-500;
            }

            // Found the needed rules at https://www.w3schools.com/howto/howto_js_rangeslider.asp
            &::-webkit-slider-thumb {
              -webkit-appearance: none; // Override default look
              appearance: none;
              @extend %button;
              width: 2.5rem;
              height: 2.5rem;
              border-radius: 50%;
              background: $grey-200;
            }
          }
        }
      }

      .text {
        padding: $padding-standard;

        h2 {
          text-align: center;
          font-weight: normal;
          font-size: 2rem;
          color: $grey-700;
        }
      }

      .continue {
        position: absolute;
        transform: translateX(50%); // Half of itself over the edge
        right: 0; // Right side of card
        bottom: 10%;

        button {
          @extend %round;
          width: 3rem;
          height: 3rem;

          img {
            width: 2rem;
            margin: 0.5rem;
          }
        }
      }
    }
  }
}

#overlay {
  background-color: rgba(0, 0, 0, .5);
  display: none;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 100; // Above everything

  .full {
    .cards {
      
    }
  }
}

#field {
  height: 100vh;
  position: relative; // Absolute children relative to this
  width: 80vw;

  #screen {
    z-index: 10;
  }
}

#menu {
  margin: $margin-standard;
  display: flex; // Children are next to each other
  position: absolute;
  left: 0;
  top: 0;

  &[data-state='collapse'] { // Menu state is set to collapse
    .items {
      display: block;

      .item {
        left: 0;
        position: absolute; // Above each other
        top: 0;
        padding: 0.5rem; // Center button
      }
    }
  }

  &[data-state='expand'] { // Menu state is set to expand
    .items {
      display: flex; // Children are next to each other
      margin-left: 0.5rem;

      .item {
        position: relative; // Z-index applies
        padding: 0.5rem 0.25rem; // Center button

        .tooltip {
          font-size: 0.75rem;
        }
      }
    }
  }

  .indicator {
    position: relative; // Z-index applies
    z-index: 90; // Above items

    button {
      @extend %round;
      width: 3rem;
      height: 3rem;

      img {
        width: 2rem;
        margin: 0.5rem;
      }
    }
  }

  .items {
    .item {
      display: inline-block; // Next to each other
      z-index: 85;


      button {
        @extend %round;
        background-color: $grey-200; // Overwrite
        width: 2rem;
        height: 2rem;

        img {
          width: 1rem;
          margin: 0.5rem;
        }
      }
    }
  }
}

#cards {
  margin: $margin-standard;
  position: absolute;
  right: 0;
  top: 0;
  width: 20%; // Of field

  .card {
    @extend %card;
    $padding: $padding-standard / 2;
    padding: $padding;
    height: auto;
    position: absolute;
    width: 100%; // Of cards

    &:nth-child(1) { // First card
      top: 0;
      z-index: 15;
    }

    &:nth-child(2) { // Second card
      top: $padding;
      z-index: 14;
    }

    &:nth-child(3) { // Third card
      top: $padding * 2;
      z-index: 13;
    }

    &:nth-child(n + 4) { // Other children
      top: $padding * 3;
      z-index: 12;
    }
  }
}

#sidebar {
  @include shadow(0, 8, -4);
  position: relative; // Z-index applies
  z-index: 20;
  background-color: $grey-50;
  height: 100vh;
  width: 20vw;

  header {
    @extend %center-complete; // Center children on both axis
    background-color: $primary-500;
    height: 10%; // Of sidebar height
    width: 100%;

    $size: 2rem;

    h1 {
      color: #fff;
      font-weight: normal;
      font-size: $size;
      margin-left: 1rem; // From image
    }

    img {
      height: $size * 1.5; // Of header height
      width: $size * 1.5;
    }
  }

  .info {
    height: 90%; // Of sidebar
    position: relative; // Absolute children relative to this
    text-align: center;

    .part {
      position: relative; // Absolute children placed with this
      margin: $margin-standard; // This box's padding

      &:not(:first-child) { // All but the first
        border-top: 2px solid $grey-300;
        padding-top: $padding-standard / 2;
      }
    }

    h4 {
      font-weight: normal;
      font-size: 1.25rem;
    }

    #priority {

      .status {
        @extend %center-complete; // Center child on both axis
        height: 8vh;
        margin-bottom: $padding-standard / 2;

        .container {
          @extend %center-complete; // Center children on both axis
          background-color: $grey-200;
          border-radius: 2.5rem;
          padding: $padding-standard / 2;

          .clock {
            p {
              margin: 0rem 1.5rem;
              color: $grey-700;
              font-size: 2rem; // Based on base fontsize
            }
          }

          .box {
            position: relative;
          }

          .chart {
            border-radius: 50%;
            height: 5vh;
            width: 5vh;
            background-color: $grey-300;
            transform: rotate(-90deg);

            .pie {
              @extend %pie;
              fill: transparent;

              &.rubrum {
                stroke: $red-500;
              }

              &.caeruleus {
                stroke: $blue-500;
              }

              &.viridis {
                stroke: $green-500;
              }
            }
          }
        }
      }

      #scale {
        color: $grey-500;
      }

      .restart {
        // DISABLED: doesn't serve enough purpose
        display: none;

        left: 0;
        position: absolute;
        top: 25%; // Of priority container

        button {
          @extend %round;
          transform: translateX(-50%) translateY(-50%); // Center over fold
          width: 3rem;
          height: 3rem;

          img {
            width: 2rem;
            margin: 0.5rem;
          }
        }
      }

    }

    #enviroment {
      .text {
        height: 20%; // Of enviroment
      }

      .content {
        display: flex;
        flex-direction: column; // Elements displayed beneath each other
        height: 80%; // Of enviroment
        justify-content: space-between; // How children are displayed

        .data {
          width: 100%; // Of enviroment
          position: relative; // For absolute children

          $size: 2rem;
          height: $size;

          &:not(:last-child) { // All but the last
            margin-bottom: $padding-standard / 2;
          }

          .tooltip {
            font-size: 0.75rem;

            .fraction {
              @extend %fraction;
            }
          }

          p,
          progress {
            position: absolute;
            top: 0;
          }

          p {
            color: #fff;
            line-height: $size;
            vertical-align: middle; // Middle of bar
            z-index: 26; // Above bar
            padding-left: $padding-standard;
            font-size: 0.75rem;
            font-style: bold;
          }

          progress { // switched from meter because this is easier to style
            @extend %bar;
            z-index: 25;
            height: $size;
            display: block; // Fill line
            width: 100%; // Of enviroment

            &::-webkit-progress-bar {
              -webkit-appearance: inherit;
              border-radius: 1rem;
            }

            &::-webkit-progress-value {
              -webkit-appearance: inherit;
              border-radius: 1rem;
            }

            &[data-name=temperature] {
              &::-webkit-progress-bar {
                background: $red-700;
              }

              &::-webkit-progress-value {
                background: $red-500;
              }
            }

            &[data-name=acidity] {
              &::-webkit-progress-bar {
                background: $blue-700;
              }

              &::-webkit-progress-value {
                background: $blue-500;
              }
            }

            &[data-name=concentration] {
              &::-webkit-progress-bar {
                background: $green-700;
              }

              &::-webkit-progress-value {
                -webkit-appearance: inherit;
                background: $green-500;
              }
            }

            &[data-name=energy] {
              &::-webkit-progress-bar {
                background: $amber-700;
              }

              &::-webkit-progress-value {
                background-color: $amber-500;
              }
            }
          }
        }
      }
    }

    #bacteria {
      &[data-content='true'] { // There is content
        .empty {
          display: none;
        }

        .content {
          display: flex;
        }
      }

      &[data-content='false'] { // No content
        .empty {
          display: block;
        }

        .content {
          display: none;
        }
      }

      .text {
        height: 10%; // Of enviroment
      }

      .empty,
      .content {
        height: 90%; // Of enviroment
      }

      .content {
        flex-wrap: wrap; // Items are displayed beneath each other in row flex

        div {
          width: 100%;

          // TODO fix this
          // &:first-child {
          //   flex-grow: 1; // Stretch ratio with other element is 2:3
          // }
          //
          // &:last-child {
          //   flex-grow: 1.5; // Stretch ratio with other element is 2:3
          // }

          table {
            height: 100%; // Of container div
            width: 100%; // Of content
            background-color: $grey-200;
            padding: $padding-standard / 4;
            // border-collapse: collapse;

            tr {
              height: 2rem;

              &:not(:first-child) {
                td { // Tr can't have one
                  border-top: 1px solid $grey-300;
                }
              }

              td {
                padding: $padding-standard / 4; // Adds to table
              }
            }

            .name {
              text-align: left;
              color: $grey-600;
            }

            .value {
            	text-align: right;
              color: $grey-700;
            }

            &.data {
              margin-bottom: $padding-standard / 2;

            }

            &.values {


              .value {
                .number {

                }

                .unit {
                  font-style: italic;

                  .fraction {
                    @extend %fraction;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
