#sidebar .info #priority .status .container .chart .pie {
  stroke-dasharray: 0, 314%;
  stroke-width: 100%;
  transition: 400ms;
  fill: transparent; }

#overlay .container, #sidebar header, #sidebar .info #priority .status, #sidebar .info #priority .status .container {
  align-items: center;
  display: flex;
  justify-content: center; }

#start .intro .screen:last-child .container {
  display: flex;
  justify-content: space-between; }

#start .intro .screen:last-child .container .fraction, #sidebar .info #enviroment .content .data .tooltip .fraction, #sidebar .info #bacteria .content div table.values .value .unit .fraction {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 0 5px; }
  #start .intro .screen:last-child .container .fraction .top, #sidebar .info #enviroment .content .data .tooltip .fraction .top, #sidebar .info #bacteria .content div table.values .value .unit .fraction .top, #start .intro .screen:last-child .container .fraction .bottom, #sidebar .info #enviroment .content .data .tooltip .fraction .bottom, #sidebar .info #bacteria .content div table.values .value .unit .fraction .bottom {
    padding: 0 5px; }
  #start .intro .screen:last-child .container .fraction .bottom, #sidebar .info #enviroment .content .data .tooltip .fraction .bottom, #sidebar .info #bacteria .content div table.values .value .unit .fraction .bottom {
    border-top: 1px solid #000;
    display: block; }

#start .intro .screen:last-child .container .slider, #sidebar .info #enviroment .content .data progress {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 1rem; }

#start .intro .screen, #overlay .full, #cards .card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 2px 3px rgba(0, 0, 0, 0.2);
  background-color: #FAFAFA;
  transition: 400ms ease-in-out; }
  #start .intro .screen:hover, #overlay .full:hover, #cards .card:hover {
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.1), 0px 10px 19px rgba(0, 0, 0, 0.2); }

#start .intro .screen:last-child .container .slider, #sidebar .info #enviroment .content .data progress, #start .intro .screen .continue button, #menu .indicator button, #menu .items .item button, #sidebar .info #priority .restart button, #start .intro .screen:last-child .container .slider::-webkit-slider-thumb, #overlay .full button[name=close], #cards .card button[name=clear] {
  cursor: pointer; }
  #start .intro .screen:last-child .container .slider:disabled, #sidebar .info #enviroment .content .data progress:disabled, #start .intro .screen .continue button:disabled, #menu .indicator button:disabled, #menu .items .item button:disabled, #sidebar .info #priority .restart button:disabled, #start .intro .screen:last-child .container .slider:disabled::-webkit-slider-thumb, #overlay .full button[name=close]:disabled, #cards .card button[name=clear]:disabled {
    cursor: default; }
  #start .intro .screen:last-child .container .slider:focus, #sidebar .info #enviroment .content .data progress:focus, #start .intro .screen .continue button:focus, #menu .indicator button:focus, #menu .items .item button:focus, #sidebar .info #priority .restart button:focus, #start .intro .screen:last-child .container .slider:focus::-webkit-slider-thumb, #overlay .full button[name=close]:focus, #cards .card button[name=clear]:focus, #start .intro .screen:last-child .container .slider:active, #sidebar .info #enviroment .content .data progress:active, #start .intro .screen .continue button:active, #menu .indicator button:active, #menu .items .item button:active, #sidebar .info #priority .restart button:active, #start .intro .screen:last-child .container .slider:active::-webkit-slider-thumb, #overlay .full button[name=close]:active, #cards .card button[name=clear]:active {
    outline: none; }

#start .intro .screen .continue button, #menu .indicator button, #menu .items .item button, #sidebar .info #priority .restart button, #start .intro .screen:last-child .container .slider::-webkit-slider-thumb, #overlay .full button[name=close], #cards .card button[name=clear] {
  background-color: transparent;
  border: 0 solid transparent;
  transition: 400ms ease-in-out; }

#start .intro .screen .continue button, #menu .indicator button, #menu .items .item button, #sidebar .info #priority .restart button, #start .intro .screen:last-child .container .slider::-webkit-slider-thumb {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 2px 3px rgba(0, 0, 0, 0.2);
  text-align: center; }
  #start .intro .screen .continue button:hover, #menu .indicator button:hover, #menu .items .item button:hover, #sidebar .info #priority .restart button:hover, #start .intro .screen:last-child .container .slider:hover::-webkit-slider-thumb, #start .intro .screen .continue button:focus, #menu .indicator button:focus, #menu .items .item button:focus, #sidebar .info #priority .restart button:focus, #start .intro .screen:last-child .container .slider:focus::-webkit-slider-thumb {
    box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.1), 0px 6px 15px rgba(0, 0, 0, 0.2); }

#start .intro .screen .continue button, #menu .indicator button, #menu .items .item button, #sidebar .info #priority .restart button {
  background-color: #00BCD4;
  border-radius: 100%; }

#overlay .full button[name=close], #cards .card button[name=clear] {
  position: absolute;
  top: 0;
  right: 0; }

#start .intro {
  height: 40vw;
  position: relative;
  width: 55vw; }
  #start .intro .screen {
    height: 100%;
    position: absolute;
    width: 100%; }
    #start .intro .screen:first-child {
      z-index: 70; }
      #start .intro .screen:first-child p {
        line-height: initial; }
    #start .intro .screen:last-child {
      z-index: 60; }
      #start .intro .screen:last-child p {
        text-align: center;
        margin-top: 1.25rem;
        margin-bottom: 0.75rem; }
      #start .intro .screen:last-child .container {
        width: 100%;
        position: relative; }
        #start .intro .screen:last-child .container .limit {
          color: #757575; }
        #start .intro .screen:last-child .container .slider {
          width: 65%;
          height: 2rem; }
          #start .intro .screen:last-child .container .slider[name=acidity] {
            background: #2196F3; }
          #start .intro .screen:last-child .container .slider[name=concentration] {
            background: #4CAF50; }
          #start .intro .screen:last-child .container .slider[name=temperature] {
            background: #F44336; }
          #start .intro .screen:last-child .container .slider[name=energy] {
            background: #FFC107; }
          #start .intro .screen:last-child .container .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            background: #EEEEEE; }
    #start .intro .screen .text {
      padding: 1.5rem;
      overflow-y: scroll;
      height: 100%; }
      #start .intro .screen .text h2 {
        text-align: center;
        font-weight: normal;
        font-size: 2rem;
        color: #616161; }
      #start .intro .screen .text ul {
        list-style-type: none; }
    #start .intro .screen .continue {
      position: absolute;
      transform: translateX(50%);
      right: 0;
      bottom: 10%; }
      #start .intro .screen .continue button {
        width: 3rem;
        height: 3rem; }
        #start .intro .screen .continue button img {
          width: 2rem;
          margin: 0.5rem; }

#overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100; }
  #overlay .container {
    width: 100%;
    height: 100%; }
  #overlay .full {
    padding: 1.5rem;
    position: relative;
    z-index: 110;
    display: none;
    width: 80%;
    height: 80%; }
    #overlay .full .text {
      width: 100%;
      height: 100%; }
    #overlay .full button[name=close] {
      margin: 1.5rem; }

#field {
  height: 100%;
  position: relative;
  width: 80vw;
  background-image: url("../images/field.png");
  background-repeat: no-repeat;
  background-size: cover; }
  #field #screen {
    z-index: 10; }

#menu {
  margin: 1vw;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  transition: 400ms ease-in-out;
  opacity: 0.65; }
  #menu:hover, #menu:focus {
    opacity: 1; }
  #menu[data-state='collapse'] .items {
    display: block; }
    #menu[data-state='collapse'] .items .item {
      left: 0;
      position: absolute;
      top: 0;
      padding: 0.5rem; }
  #menu[data-state='expand'] .items {
    display: flex;
    margin-left: 0.5rem; }
    #menu[data-state='expand'] .items .item {
      position: relative;
      padding: 0.5rem 0.25rem; }
      #menu[data-state='expand'] .items .item .tooltip {
        font-size: 0.75rem; }
  #menu .indicator {
    position: relative;
    z-index: 90; }
    #menu .indicator button {
      width: 3rem;
      height: 3rem; }
      #menu .indicator button img {
        width: 2rem;
        margin: 0.5rem; }
  #menu .items .item {
    display: inline-block;
    z-index: 85; }
    #menu .items .item button {
      background-color: #EEEEEE;
      width: 2rem;
      height: 2rem; }
      #menu .items .item button img {
        width: 1rem;
        margin: 0.5rem; }

#cards {
  margin: 1vw;
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
  transition: 400ms ease-in-out;
  opacity: 0.5; }
  #cards:hover {
    opacity: 1; }
  #cards .card {
    padding: 0.75rem;
    position: absolute;
    width: 100%;
    line-height: 1.1rem;
    height: 12.5rem;
    overflow-y: scroll;
    overflow-x: visible; }
    #cards .card:nth-child(1) {
      top: 0;
      z-index: 15; }
    #cards .card:nth-child(2) {
      top: 0.75rem;
      z-index: 14; }
    #cards .card:nth-child(3) {
      top: 1.5rem;
      z-index: 13; }
    #cards .card:nth-child(n + 3) {
      top: 1.5rem;
      z-index: 12; }
    #cards .card button[name=clear] {
      margin: 0.75rem; }

#sidebar {
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.1), -2.66667px 0px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 20;
  background-color: #FAFAFA;
  height: 100%;
  width: 20vw; }
  #sidebar header {
    background-color: #009688;
    height: 10%;
    width: 100%; }
    #sidebar header h1 {
      color: #fff;
      font-weight: normal;
      font-size: 2rem;
      margin-left: 1rem; }
    #sidebar header img {
      height: 2.2rem;
      width: 2.2rem; }
  #sidebar .info {
    height: 90%;
    position: relative;
    text-align: center; }
    #sidebar .info .part {
      position: relative;
      margin: 1vw; }
      #sidebar .info .part:not(:first-child) {
        border-top: 2px solid #E0E0E0;
        padding-top: 0.75rem; }
    #sidebar .info h4 {
      font-weight: normal;
      font-size: 1.25rem; }
    #sidebar .info #priority .status {
      margin-bottom: 0.75rem; }
      #sidebar .info #priority .status .container {
        background-color: #EEEEEE;
        border-radius: 2.5rem;
        padding: 0.75rem; }
        #sidebar .info #priority .status .container .clock p {
          margin: 0rem 1.5rem;
          color: #616161;
          font-size: 2rem; }
        #sidebar .info #priority .status .container .box {
          position: relative; }
        #sidebar .info #priority .status .container .chart {
          border: 2px solid #BDBDBD;
          border-radius: 50%;
          height: 5vh;
          width: 5vh;
          background-color: #E0E0E0;
          fill: #E0E0E0;
          transform: rotate(-90deg);
          margin-right: 0.5rem; }
          #sidebar .info #priority .status .container .chart .pie.rubrum {
            stroke: #F44336; }
          #sidebar .info #priority .status .container .chart .pie.caeruleus {
            stroke: #2196F3; }
          #sidebar .info #priority .status .container .chart .pie.viridis {
            stroke: #4CAF50; }
    #sidebar .info #priority #scale {
      color: #9E9E9E; }
    #sidebar .info #priority .restart {
      display: none;
      left: 0;
      position: absolute;
      top: 25%; }
      #sidebar .info #priority .restart button {
        transform: translateX(-50%) translateY(-50%);
        width: 3rem;
        height: 3rem; }
        #sidebar .info #priority .restart button img {
          width: 2rem;
          margin: 0.5rem; }
    #sidebar .info #enviroment .text {
      height: 20%; }
    #sidebar .info #enviroment .content {
      display: flex;
      flex-direction: column;
      height: 80%;
      justify-content: space-between; }
      #sidebar .info #enviroment .content .data {
        width: 100%;
        position: relative;
        height: 2rem; }
        #sidebar .info #enviroment .content .data:not(:last-child) {
          margin-bottom: 0.75rem; }
        #sidebar .info #enviroment .content .data .tooltip {
          font-size: 0.75rem; }
        #sidebar .info #enviroment .content .data p,
        #sidebar .info #enviroment .content .data progress {
          position: absolute;
          top: 0; }
        #sidebar .info #enviroment .content .data p {
          color: #fff;
          opacity: 0.9;
          line-height: 2rem;
          vertical-align: middle;
          z-index: 26;
          padding-left: 1.5rem;
          font-size: 0.85rem; }
        #sidebar .info #enviroment .content .data progress {
          z-index: 25;
          height: 2rem;
          display: block;
          width: 100%; }
          #sidebar .info #enviroment .content .data progress::-webkit-progress-bar {
            -webkit-appearance: inherit;
            border-radius: 1rem; }
          #sidebar .info #enviroment .content .data progress::-webkit-progress-value {
            -webkit-appearance: inherit;
            border-radius: 1rem; }
          #sidebar .info #enviroment .content .data progress[data-name=temperature]::-webkit-progress-bar {
            background: #D32F2F; }
          #sidebar .info #enviroment .content .data progress[data-name=temperature]::-webkit-progress-value {
            background: #F44336; }
          #sidebar .info #enviroment .content .data progress[data-name=acidity]::-webkit-progress-bar {
            background: #1976D2; }
          #sidebar .info #enviroment .content .data progress[data-name=acidity]::-webkit-progress-value {
            background: #2196F3; }
          #sidebar .info #enviroment .content .data progress[data-name=concentration]::-webkit-progress-bar {
            background: #388E3C; }
          #sidebar .info #enviroment .content .data progress[data-name=concentration]::-webkit-progress-value {
            -webkit-appearance: inherit;
            background: #4CAF50; }
          #sidebar .info #enviroment .content .data progress[data-name=energy]::-webkit-progress-bar {
            background: #FFA000; }
          #sidebar .info #enviroment .content .data progress[data-name=energy]::-webkit-progress-value {
            background-color: #FFC107; }
    #sidebar .info #bacteria[data-content='true'] .empty {
      display: none; }
    #sidebar .info #bacteria[data-content='true'] .content {
      display: flex; }
    #sidebar .info #bacteria[data-content='false'] .empty {
      display: block; }
    #sidebar .info #bacteria[data-content='false'] .content {
      display: none; }
    #sidebar .info #bacteria .text {
      height: 10%; }
    #sidebar .info #bacteria .empty,
    #sidebar .info #bacteria .content {
      height: 90%; }
    #sidebar .info #bacteria .empty {
      position: relative; }
    #sidebar .info #bacteria .content {
      flex-wrap: wrap; }
      #sidebar .info #bacteria .content div {
        width: 100%; }
        #sidebar .info #bacteria .content div table {
          height: 100%;
          width: 100%;
          background-color: #EEEEEE;
          padding: 0.375rem; }
          #sidebar .info #bacteria .content div table tr {
            height: 2rem; }
            #sidebar .info #bacteria .content div table tr:not(:first-child) td {
              border-top: 1px solid #E0E0E0; }
            #sidebar .info #bacteria .content div table tr td {
              padding: 0.375rem; }
          #sidebar .info #bacteria .content div table .name {
            text-align: left;
            color: #757575; }
          #sidebar .info #bacteria .content div table .value {
            text-align: right;
            color: #616161; }
          #sidebar .info #bacteria .content div table.data {
            margin-bottom: 0.75rem; }
          #sidebar .info #bacteria .content div table.values .value .unit {
            font-style: italic; }

#music {
  display: block !important;
  transition: 400ms ease-in-out;
  opacity: 0.5; }
  #music:hover {
    opacity: 1; }
