* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  cursor: default;
  /*border: 1px solid grey;*/
}
body {
  background-color: #eeeeee;
}
.screen {
  width: 411px;
  height: 731px;
  margin: auto;
  background-color: #f5f5f5;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
  overflow: hidden;
}
.screen:hover {
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.45);
}
:focus, :active {
  outline: none;
}
::webkit-scrollbar {
  visibility: hidden;
}
::selection {
  background: transparent;
}
#main {
  margin: 4%;
}
#first {
  background-color: #4caf50;
}
#contents {
  height: 90%;
}
.content {
  height: 100%;
  position: relative;
  display: none;
}
.head {
  background-color: #4caf50;
  height: 40%;
  padding: 35px;
  box-shadow: 0px 8px 6px rgba(0,0,0,0.15);
  position: relative;
}
.intro {
  padding: 35px;
}
.centerContent {
  margin: 7.5% 0%;
  padding: 35px;
}
.centerContent p {
  font-size: 16px;
  color: #757575;
}
header {
  height: 50%;
  position: relative;
}
header img {
  width: 100%;
}
h2 {
  font-size: 32px;
  color: rgba(255, 255, 255, 0.90);
  font-weight: normal;
  text-align: center;
}
p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.65);
  text-align: center;
}
.status {
  display: block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.40);
}
ul {
  heigth: 80%;
}
li {
  list-style-type: none;
  color: rgba(255, 255, 255, 0.65);
  margin: 15px;
}
.checkbox {
  float: right;
  font-size 20px;
  color: #81c784
}
.options p {
  display: inline;
  margin-bottom: 5px;
}
.options li {
  margin: 20px 0px;
  vertical-align: middle;
}
.option {
  display: inline-block;
  float: left;
  margin: 0px 20px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 28px;
}
.wifi .option {
  font-size: 24px;
}
.button1 {
  background-color: #ff5252;
  border: none;
  padding: 10px;
  border-radius: 2px;
  margin: 10% 5%;
  width: 90%;
  color: rgba(255, 255, 255, 0.75);
}
#fab {
  border-radius: 100%;
  padding: 12.5px;
  height: 50px;
  width: 50px;
  background-color: #ff5252;
  display: inline-block;
  float: left;
  position: absolute;
  top: 45%;
  right: 5%;
  color: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 4px 4px rgba(0,0,0,0.10);
  transition: 0.4s;
}
#fab:hover {
  box-shadow: 0px 6px 8px rgba(0,0,0,0.20);
}
input {
  background-color: #e0e0e0;
  border: none;
  padding: 15px;
  width: 90%;
  margin: 0% 5%;
  color: rgba(0, 0, 0, 0.55)
}
footer {
  height: 10%;
  position: relative;
  background-color: #4caf50;
}
hr {
  border: 1px solid #66bb6a;
  width: 90%;
  margin: 0% 5%
}
.options hr {
  border: 1px solid #bdbdbd;
  margin: 3% 5%;
}
.container {
  padding: 5% 0%;
}
.headBar {
  height: 5%;
  background-color: #43a047;
  padding: 0px 10px;
  width: 100%;
  display: none;
  position: relative;
}
.statusIcon {
  margin: 10px 4px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.75);
  display: inline-block;
  float: right;
}
#clock {
  display: inline-block;
  float: right;
  margin: 10px 2px;
  font-size: 14px;
}
.arrow {
  background-color: transparent;
  color: #ffffff;
  border: none;
  display: inline-block;
  vertical-align: middle;
  width: 15%;
  height: 30px;
}
.next {
  float: right;
  text-align: left;
}
.previous {
  float: left;
  text-align: right;
  visibility: hidden;
}
.page {
  display: inline-block;
  text-align: center;
  width: 70%;
  vertical-align: middle;
  height: 30px;
}
.dots {
  margin-top: 5px;
}
.dot {
  transition: 0.4s;
  display: inline-block;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  margin: 0px 4px;
  background-color: rgba(0, 0, 0, 0.25);
}
.dot.active {
  background-color: rgba(255, 255, 255, 0.75);
}
.right {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.75);
}
.left {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.75);
}
.banner {
  background-color: #e0e0e0;
  padding: 10px;
  text-align: center;
}
.banner a {
  text-decoration: none;
  color: #9e9e9e;
  transition: 0.4s;
}
.close {
  float: right;
  font-size: 20px;
  color: #616161;
}
.banner a:hover {
  color: #757575;
}
.loading {
  width: 35%;
  margin: 75% auto;
  display: none;
  text-align: center;
}
.loading h2 {
  margin-bottom: 75%;
}
.spinner {
  display: inline-block;
  border: 15px solid #eeeeee;
  border-top: 15px solid #66bb6a;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  animation: spin 2s ease infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.thanks {
  display: none;
  margin: 4%;
  width: 250px;
  position: absolute;
  background-color: #fafafa;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}
.thanks p {
  color: #757575;
}
.thanks:hover {
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.45);
}
